/*Estilos do cadastro*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #2BAE89;
    font-size: large;
    text-align: center;
    border: 1px;
    justify-content: center;
    align-content: center;
}


#header-account{
    background-color: #6F5BE3;
    height: 6.85997171145686%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 9.930555555555556%;
    padding-right: 9.930555555555556%;
    padding-top: 0.4861111111111111%;
    padding-bottom: 0.6944444444444444%;
}

#White-Logo {
    width: 7.573888888888889% ;
}

#Agendamento-cad {
    height: 37.11%;
    width: 13.88%;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    background-color: #6F5BE3;
    color: #FFFFFF;
    font-size: clamp(2px, 2px + 1vw, 15px);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1.38%;
    padding-right: 1.38%;
}

#Login{
    height: 37.11%;
    width: 7.986111111111111%;
    border-radius: 30px;
    border: 3px solid #FFFFFF;
    background-color: #6F5BE3;
    color: #FFFFFF;
    font-size: clamp(4px, 4px + 1vw, 15px);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.11%;
    padding-right: 0.11%;
}

.container-cad{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 66.61951909476662%;
    width: 58.19444444444444%;
    border-radius: 15px;    
    background-color: #F2F2F2;
    box-shadow: 0px 6px 5px 0px #00000040;
    padding-top: 5.01%;
    padding-bottom: 5.01%;
    margin-top: 7.43%;
    margin-bottom: 7.43%;
}

#title {
    width: 43.03102625298329%;
    height: 10.821656050955414%;
    font-size: clamp(15px, 15px + 1vw, 36px);
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color:  #333333;
    margin-bottom: 2.916666666666667%;
}


#cad-list {
    width: 57.87589498806683%;
}

#form-cad {
    width: 100%;
}

#name-box {
    margin-bottom: 2.38%;
    width: 95.5%;
}

#Name {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5.095541401273885%;
    padding-left: 3.944444444444444%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: clamp(4px, 4px + 1vw, 15px);
}

#middle-input-left {
    height: 5.095541401273885%;
    width: 44.82100238663484%;
    padding-left: 3.944444444444444%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: clamp(4px, 4px + 1vw, 15px);
    margin-right: 6.8%;
}

#middle-input-right {
    height: 5.095541401273885%;
    width: 44.82100238663484%;
    padding-left: 3.944444444444444%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: clamp(4px, 4px + 1vw, 15px);
}

#address-input-left{
    height: 5.72%;
    width: 41.94%;
    margin-right: 1.78%;
    padding-left: 3.944444444444444%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: clamp(4px, 4px + 1vw, 15px);
}

#address-input-middle{
    text-align: center;
    height: 5.72%;
    width: 8.94%;
    margin-right: 1.78%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: clamp(4px, 4px + 1vw, 15px);
}

#address-input-right{
    height: 5.72%;
    width: 26.34%;
    padding-left: 3.944444444444444%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: clamp(4px, 4px + 1vw, 15px);
}

#container-middle{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 2.38%;
}

footer{
    width: 100%;
    height: 8.13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3.26%;
    padding-bottom: 3.56%;
}

#Copyright{
    font-size: clamp(4px, 4px + 1vw, 15px);
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
}
#back{
    border-radius: 15px;
    border: 3px solid #000000;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: clamp(4px, 4px + 1vw, 15px);
    padding-top: 0.83%;
    padding-bottom: 0.83%;
    padding-left: 3.43%;
    padding-right: 3.43%;
}

#button-box-cad{
    width: 100%;
    height: 50.53%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 4.38%;
}

#account {
    border-radius: 15px;
    border: none;
    background-color: #6F5BE3;
    font-size: clamp(4px, 4px + 1vw, 15px);
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    padding-top: 0.83%;
    padding-bottom: 0.83%;
    padding-left: 3.43%;
    padding-right: 3.43%;
}

#button-change {
    border-radius: 15px;
    border: none;
    background-color: #6F5BE3;
    font-size: clamp(4px, 4px + 1vw, 15px);
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    padding-top: 1.43%;
    padding-bottom: 1.43%;
    padding-left: 3.43%;
    padding-right: 3.43%;
}
#captcha-box-cad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    height: 8.06%;
    width: 36.63%;
    border-radius: 0px;
    border: none;
    background-color: #FFFFFF;
    padding-left: 4.41%;
    padding-top: 2.74%;
    padding-bottom: 2.74%;
    margin-top: 2.29%;
}
#robot{
    margin-left: 5.18% ;
    font-size: clamp(4px, 4px + 1vw, 15px);
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

#button-box{
    width: 100%;
    height: 50.53%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 4.38%;
}