venv
db.sqlite3
clinica_salvino/__pycache__
clinica/__pycache__
clinica/migrations/__pycache__
recept/__pycache__
recept/migrations/__pycache__
proprietario/__pycache__
proprietario/migrations/__pycache__
paciente/__pycache__
paciente/migrations/__pycache__
medico/__pycache__
medico/migrations/__pycache__
.env
media/