body
{
    background: rgb(202, 238, 215);
    font-size: large;
    text-align: center;
    border: 1px;
}

ul{
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 30px;
}

