{% extends 'background.html' %}
{% load static i18n %}

{% block header %}
    <header class="header bg-purple">
        <div class="container">
            <a href="{% url 'home' %}">
                <img class="escalar" src="{% static 'img/Logo Branco 1.png' %}">
            </a>
        </div>
    </header>
{% endblock header %}
{% block content%}
    <main>
        <div class="body-container">
            <h1 class="title">Esqueci a Senha</h1>
            <form class="form-forgot form" id="form-forgot" action="{% url 'password_reset' %}" method="post">
                {% csrf_token %}
                <div class="form-control">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

                <div class="captcha-box center">
                    <input type="checkbox" name="Eu não sou um robô" value="Eu não sou um robô"><a class="robot">Não
                        sou robô</a>
                </div>

                <div class="result">
                    <p class="result-text">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger">
                                        <strong>Erro!</strong>
                                        {{ message }}
                                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                                    </div>
                                {% else %}
                                    <div class="alert alert-success">
                                        <strong>Sucesso!</strong>
                                        {{ message }}
                                        <i class="fa-solid fa-circle-check icon-success hidden" style="color: #328146;"></i>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
                
                <div class="button-box">
                    <input type="submit" id="back" onclick="voltar()" class="btn-black-white" value="Voltar">
                    <button type="submit" data-button class="btn-purple">Enviar</button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}
{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/formValidation.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}