* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.home_body {
    background-image: url(img/home/onda-menu.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo_branco {
    position: relative;
    margin-top: 1%;
    left: 3%;
    max-width: 10%;
}

.home_nav_ul {
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    font-family: "Open Sans";
}