

/* Css da pagina do usuario */

/* Css global da pagina do usuario */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link{
    display: flex;
    text-decoration: none;
    color: #fff;
}

.link:hover{
    scale: 1.1;
}

/* --- começo das classes da dashboard do menu do usuario --- */
ul{
    padding: 0;
}
    /* class do css do boddy da pagina do usuario */
    .body_user {                                                                            /* cor da tela de fundo do body */
    width: 100%;                                                             
    display: grid;                                                                          /* Definição da exibição como flex (vai jogar todos os elementos dentro da classe para a esquerda) */
    justify-content: flex-end;                                                                 /* dimencionando os items do body espaçados ao seu redor */
    padding: 0 10% 5% 10%;
    grid-template-columns: 1fr 3fr; 
    grid-gap: 3%;
}

    .initial_dash{
        min-height: 80%;                                                                     
        width: 100%;                                                             
        display: flex;                                                                         
        justify-content: flex-end; 
        flex-direction: column;                                                               
    }
    

    /* class para dashboard do menu do usuario */
    .dash_menu_user {
        display: block;
        background-color: #333333;                                                        /* cor da dashboard */
        color: #ffffff;                                                                   /* cor da fonte da dashboard */
        font-family: 'Kumbh-medium', Arial, Helvetica, sans-serif;                          /* fonte estilizada da dashboard */                 
        width: 100%;                                                                     /* tamanho horizontal da dashboard */
        padding: 20px;
        border-radius: 15px;
        min-height: 89vh;
        max-height: 89vh;
        overflow-y: auto;
    }

    .dash_menu_user::-webkit-scrollbar {
        width: 1px; /* Largura da barra de rolagem vertical */
        height: 1px; /* Altura da barra de rolagem horizontal */
    }

    .nav_menu{
        display: none;
        padding: 10% 10% 10% 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(10,23,55,0.5);
        display: none;
        position: fixed;
        z-index: 999;
    }

    /* class para o botão do home */
    .button_home {
        width: 20px;
        position: relative;                                                                 /* posição do botão da home relativo na dashboard com os valores top e left */
        top: 0;                                                                       /* valor da posição a partir do topo */     
        left: 85%;
        margin-bottom: 20px;                                                                /* valor da posição a partir da esquerda */
    }

    /* class para a imagem do usuario */
    .image_user {
        display: flex;                                                                      /* exibição da imagem como flexivel */
        justify-content: center;                                                            /* alinha a imagem no centro em comparação a dashboard */
    }

    .delete-button{
        width: 30px;
        justify-self: center;
    }

    /* estilizando a lista da class da dashboard do menu do usuario */
    .ul_dash_menu li {
        list-style: none;                                                                   /* estilo da lista: sem caracteres */
        justify-content: center;                                                            /* alinhando os items no centro da dashboard */
        flex-direction: column;                                                             /* define como os items dentro dele se organizam: em coluna */
        text-align: center;                                                                 /* alinha os textos ao centro da dashboard */
        margin: 10%;                                                                        /* margem dos items da lista em comparação ao seu redor */
    }

/* --- fim das classes da dashboard do menu do usuario --- */

/* começo das classes da dashboard do calendario */
    /* class para o dashboard do calendario */ 
    .dash_prop {
        display: grid;
        width: 100%;                                                                    
        min-height: 53%;                                                                                                                                                                  
        background-color: #FCB74A;                                                        
        border-radius: 15px;        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;           
        grid-gap: 3%;                                             
    }

    .ficha{
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid #fff;
    }

    .ficha-line{
        width: 100%;
        display: grid;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
        height: 100%;
    }

    .ficha-line.address {
        grid-template-columns: 1fr 1fr 1fr;
    } 

    .ficha-line p{
        width: 100%;
        height: 100%;
        border: 1px solid #fff;
    }

    .tri-info{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1.5fr 0.5fr;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        width: 100%;
        max-height: 60px;
        border: 1px solid #ffffff;
        border-radius: 15px;
        padding: 1% 2% 1% 5%;
        margin-bottom: 10px;
    }
    .btn-nav{
        display: none;
    }

    .modulo{
        background-color: #333333;
        border-radius: 15px;
        color: #ffffff;
        min-height: 50%;
    }

    .next{
        width: 80%;
        height: 33%;
        background-color: #333333;
        border-radius: 15px;
        align-self: center;
        min-height: 200px;
    }

    .info-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "p m" "e d" "h s" "doc c";
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: 1px solid #ffffff;
        border-radius: 15px;
        padding: 1% 2% 1% 5%;
        margin-bottom: 10px;
        gap: 5px 0;
    }

    .info-financeiro{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "p m" "e d" "h s" "doc c";
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: 1px solid #ffffff;
        border-radius: 15px;
        padding: 1% 2% 1% 5%;
        margin-bottom: 10px;
    }

    .info-card p{
        border: 1px solid #ffffff;
        padding-left: 5px;
    }

    .info-financeiro p{
        display: flex;
        border: 1px solid #ffffff;
        padding-left: 5px;
    }

    .info-financeiro p b{
        margin-right: 5px;
    }

    .info-card a{
        margin: 10px 0;
        justify-self: center;
    }

    .paciente{
        grid-area: p;
        height: 100%;
    }

    .medico{
        grid-area: m;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 3px;
    }

    .especialidade{
        grid-area: e;
        height: 100%;
    }

    .data{
        grid-area: d;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 3px;
    }

    .hora{
        grid-area: h;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 3px;
    }

    .status{
        grid-area: s;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 3px;
    }

    .doc{
        grid-area: doc;
    }

    .can{
        grid-area: c;
    }

    .func{
        justify-content: flex-start;
    }

    .dash{
        color: #fff;
        background-color: #333333;
        width: 100%;                                                                    /* tamanho horizontal */                                  
        padding: 7% 10%;
        align-items: center;                                                                       /* padding = margem interna */
        border-radius: 15px;                                                                /* borda da dashboard do calendario */
        display: flex;
        flex-direction: column;
        min-height: 120vh;
    }


    .menu{
        z-index: 1000;
        display: none;
        position: absolute;
        right: 10px;
        top: 40px;
    }

    .dash_nav_ul li{
        margin: 15px;
    }

    .option{
        text-align: center;
    }

    .dash_nav_ul{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        list-style: none;
        font-family: "Open Sans";
        margin-bottom: 0;
    }

    .arquivo{
        color: #ffffff;
    }

    .container-prop{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        width: 80%;
        height: 100%;
        min-height: 89vh;
        align-self: center;
        margin-bottom: 50px;
    }

    .confirm{
        margin: 80px 0 30px;
        text-align: center;
    }

    p{
        font-size: 12px;
    }

    .list{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        max-height: 90%;
        overflow-y: auto;
    }
    .list::-webkit-scrollbar {
        width: 1px; /* Largura da barra de rolagem vertical */
        height: 1px; /* Altura da barra de rolagem horizontal */
    }

    .close_button{
        display: none;
        position: absolute;
        z-index: 1000;
        top: 5%;
        left: 22%;
        background-color: transparent;
        border: none;
    }
    .page{
        padding: 10% 15%;
    }

    .center{
        display: grid;
        place-items: center;
    }

    .add{
        align-self: end;
        padding: 0;
        margin-bottom: 20px;
    }

    .filter{
        align-self: flex-end;
        width: 150px;
        margin-bottom: 20px;
    }

    .register{
        align-self: center;
        margin-bottom: 15px;
    }

    .select{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cabecalho-card{
        padding: 1% 2% 0 5%;
        display: grid;
        grid-template-columns: 2.2fr 3.7fr 1.9fr;
    }

    .tri-cabecalho{
        padding: 1% 0;
        display: grid;
        grid-template-columns: 1fr 1.5fr 0.5fr;
        padding: 1% 2% 1% 5%;
        justify-items: center;
    }

    .med{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tetra-cabecalho{
        padding: 1% 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 0.5fr;
        padding: 1% 2% 1% 5%;
        justify-items: center;
    }

    .blank{
        width: 30px;
        height: 30px;
    }

    .pix{
        grid-template-columns: 5.2fr 0.2fr 1.9fr;
    }

    .pay-pix{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .delete{
        display: grid;
        place-items: center;
        width: 25px;
        height: 25px;
    }

    .tetra-info{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 0.5fr;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        width: 100%;
        max-height: 60px;
        border: 1px solid #ffffff;
        border-radius: 15px;
        padding: 1% 2% 1% 5%;
        margin-bottom: 10px;
    }

    .aviso{
        width: 100%;
        text-align: center;
        margin: 25% 0;
    }

    h3{
        font-size: 14px;
    }

    .dash_title{
        color: #ffffff;
        text-align: center;
        margin-bottom: 50px;
    }

    .dropdown {
        width: 100%;
        cursor: pointer;
        padding: 10px;
        border: 1px solid #ccc;
    }

    .border{
        border: 1px solid #ffffff;
    }
    
    .dropdown-content {
        width: 100%;
        display: none;
        padding: 10px;
        border: 1px solid #ccc;
        border-top: none;
        background-color: #333333;
        margin-bottom: 10px;
    }

    .arq-line{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        gap: 2px;
    }

        /* grupo englobando 2 classes e pondo elas em grade */
        .day_week,
        .date_grid {
            display: grid;
            grid-gap: 10px;                                                                  /* dimencionando os items em grades */
            grid-template-columns: repeat(7, 1fr)                                          /* templante das colunas (sintax 'grid-template-columnds: repeat(n°-de-colunas, fração do espaço disponivel)') */
        
        }

        .date_grid {
            margin: 10px 0;
        }

        .month {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            border-radius: 2px;
        }

        .month button {
            color: #000;
            
            background-color: #ffffff;
        }

        .day_week {
            margin-top: 1.25em;
        }

        .day_week > * {
            font-size: 1em;
            color: #000;
            font-weight: 500;
            letter-spacing: 0.1em;
            text-align: center;
            font-variant: small-caps;
        }

        .day_week_border {
            background-color: #ffffff;
            border-radius: 2px;
        }

        .date_grid button:first-child {
            grid-column: 1;
        }

        .date_grid time {
            display: flex;
            justify-self: flex-start;
            align-items: flex-start;
        }

        .date_grid button {
            height: 6.75em;
            border-radius: 2px;
            background-color: #ffffff;
            border: 0px solid;
        }

        .date_grid button:hover,
        .date_grid button:focus {
            outline: none;
            background-color: #F2F2F2;
        }

        .date_grid button:active,
        .date_grid button.is-selected {
            border: 3px solid #2BAE89;
        
        }
        .date_grid time{
            margin: 0.625em;
        }

        .nav_menu.ativo {
            display: flex;
        }

        .dash_menu_user.ativo {
            display: block;
        }

        .close_button.ativo {
            display: block;
        }