/*Estilos compartilhados*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

p{
    margin-bottom: 0;
}

.body-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 15px;    
    background-color: #F2F2F2;
    box-shadow: 0px 6px 5px 0px #00000040;
    padding: 80px 10%;
    margin: 115px 0;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #2BAE89;
    font-size: large;
    text-align: center;
    border: 1px;
    justify-content: center;
    align-content: center;
}

.title {
    font-size: 28px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color:  #333333;
    margin-bottom: 40px;
}

.result{
    margin-top: 15px;
    width: 100%;
}

.login{
    font-size: 12px;
}

.robot{
    margin-left: 15px ;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.button-box{
    width: 100%;
    display: grid;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    margin-bottom: 30px;
    padding-top: 30px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
}

footer{
    padding: 0 10%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
} 

.header{
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12vh;
    width: 100%;
    max-width: 1480px;
}

#Copyright{
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
}

.agendamento {
    height: 40px;
    width: 250px;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    background-color: #6F5BE3;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.captcha-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 0px;
    border: none;
    background-color: #FFFFFF;
    width: 250px;
    height: 70px;
    padding-left: 25px;
}

.menu-button{
    height: 35px;
    width: 35px;
    cursor: pointer;
}


/*Classes JS*/
.form-control {
    padding: 0;
    background: transparent;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: #828CAD;
}

.form-control input {
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;
    font-size: 14px;
    width: 100%;
    padding: 15px;
    position: relative;
}

.form-control select {
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;

    display: flex;

    font-size: 14px;

    width: 100%;
    padding: 15px;
    position: relative;
}

.form-control.success input {
    border: 3px solid #328146;
}

.form-control.error input {
    border: 3px solid #b22c2c;
}

.form-control.error select {
    border: 3px solid #b22c2c;
}

.shake {
    animation: shake 0.2s 2;
}

.form-control.success i.icon-success {
    visibility: visible;
}

.form-control.error i.icon-error {
    visibility: visible;
}

.form-control.error small{
    visibility: visible;
}

.alert{
    border: none;
    margin: 0;
}
.form-control i {
    position: absolute;
    top: 21px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 12px;
    color: #b22c2c;
}

.message{
    position: absolute;
    top: 50px;
    left: 0;
}

@keyframes shake {
    25% {
        translate: 6px 0;
    }
    50% {
        translate: -6px 0;
    }
    75% {
        translate: 6px 0;
    }
}


/*Estilos tela de login*/
.Login-Box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 50%;
}

.Login-Box .title{
    text-align: left;
}

.container-login{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #F2F2F2;
    box-shadow: 0px 6px 5px 0px #00000040;
    margin: 100px 0;
    padding: 50px 5% 50px 0
}

.options-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.text-options{
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: end;
    color:  #333333;
    cursor: pointer;
    margin-bottom: 10px;
}

.text-options a{
    text-emphasis: none;
    text-decoration: none;
    color: currentColor;
}

.text-options:hover{
    text-decoration: underline;
}


/*Estilos do cadastro*/
.Dependente{
    padding-left: 20px;
}

.option-dependence{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.checkbox{
    width: 13px;
    height: 13px;
    align-items: center;
}

.mid {
    width: 50%;
    grid-area: c;
}

.right {
    grid-column: 1;
}

.left{
    grid-area: l;
}

.container-middle {
    width: 100%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
}

.container-middle.address {
    width: 100%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 2.38%;
    grid-template-areas: 'r c l';
    grid-gap: 0;
    justify-items: center;
}  


/*Estilos página esqueci minha senha*/
.form-control .code{
    width: 70px;
    text-align: center;
}


/*Estilos da páginas de alteração de email e de senha*/
#menu-button{
    height: 40.25%;
    width: 3.19%;
    cursor: pointer;
}


/*Estilos do cadastro de cartão*/
.form-control.card {
    width: 165%;
}

.form-control.cvc {
    width: 65px;
    justify-self: end;
}


/*Estilos Tela de Pagamento*/
table{
    width: 40vw;
    background-color: #FFFFFF;
    border-collapse: collapse;
    margin-top: 40px;
    max-width: 540px;
}

.cells{
    width: 50%;
    border: 1px solid #000000;
}

#total{
    margin-left: 20%;
    margin-bottom: 10%;
    font-size: 16px;
}

#payment-method{
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
}

#options-payment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10%;
    width: 100%;
}

#options-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*Responsividade das páginas*/
@media (max-width: 790px) {
    .btn-purple{
        width: 100px;
    }

    .btn-black-white{
        width: 100px;
    }

    table{
        width: 100%;
        font-size: 12px;
    }

    .container-middle.address {
        width: 100%;
        display: grid;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-bottom: 2.38%;
        grid-template-areas: 'r c' 'l l';
        justify-items: stretch;
    }  

    .right{
        width: 140%;
        margin-right: 0;
    }

    .left{
        margin-left: 0;
    }

    .mid{
        margin-left: 50%;
    }
}

@media (max-width: 690px) {
    .btn.btn-white{
        display: none;
    }

    .form-control.card {
        width: 100%;
    }

    .container-middle {
        display: block;
    }

    .btn-purple{
        scale: 0.75;
    }

    .btn-black-white{
        scale: 0.75;
    }

    .captcha-box{
        scale: 0.75;
    }

    .button-box{
        grid-gap: 0;
    }
}

@media (max-width: 425px) {
    .container-middle{
        flex-direction: column;
        align-items: start;
    }

    .form-control.card {
        width: 100%;
    }

    .Login-Box .title{
        margin-top: 40px;
    }

    .container-login{
        flex-direction: column;
        padding: 50px 10%;
    }

    .Login-Box{
        width: 85%;
    }

    .options-box{
        flex-direction: column;
        align-items: center;
    }

    .options{
        margin-top: 35px;
        align-items: center;
    }

    .header .container{
        margin: 0;
        justify-content: space-around;
    }

    .container-middle{
        flex-direction: column;
        align-items: start;
    }
}
