.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
} 

.white{
    color: #fff;
}

@media (max-width: 1440px) {
    #dr-salvino{
        margin-top: -80px;
    }
}

@media (max-width: 2000px) {
    #dr-salvino{
        padding-top: 0;
        padding-bottom: 160px;
        margin-top: 0;
    }
}

@media (max-width: 1440px) {
    #dr-salvino{
        margin-top: -50px;
    }
}

@media (max-width: 1150px) {
    .container-middle.dash-address{
        width: 100%;
        display: grid;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-bottom: 2.38%;
        grid-template-areas: 'r c' 'l l';
        grid-template-columns: 1fr 1fr;
        justify-items: flex-end;
    }

}

@media (max-width: 1024px) {
    .apagar{
        display: none;
    }
    .btn-dash{
        scale: 0.75;
    }
    .tetra-cabecalho{
        grid-template-columns: 1fr 1.5fr 0.5fr;
    }
    .tetra-info{
        grid-template-columns: 1fr 1.5fr 0.5fr;
    }
    .container-middle.address {
        width: 100%;
        display: grid;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-bottom: 2.38%;
        grid-template-areas: 'r c' 'l l';
        justify-items: flex-end;
        grid-template-columns: 1fr 1fr;
    } 
}


@media (max-width: 990px) {

    .medico{
        grid-template-areas: 'tmp' 'txt';
        place-items: center;
    }
    .med-text{
        top: -230px;
        left: 0;
        padding-top: 120px;
    }
    .reverse .med-text{
        left: 0;
    }
    .left{
        margin: 0;
    }
    .especialidade{
        flex-direction: column;
    }
    .especialidadeImg{
        width: 150px;
        height: 120px;
    }
    .especialidadeTitle{
        font-size: 20px;
    }
    
    #banner-principal{
        margin-top: 0;
        padding-top: 134px;
        padding-bottom: 50px;
    }
    .nav-responsive{
        justify-content: right;
    }
    .header_responsivo{
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    .logo_branco {
        max-width: 150px;
    }
    #banner-principal h1 {
        font-size: 32px;
        line-height: normal;
        margin-top: 20px;
    }
    #banner-principal img {
        max-width: 280px;
    }
    .titulo-espec {
        margin: 0;
    }
    .bg-onda-top {
        min-height: 650px;
    }
    .sec-dr-home {
        max-height: none;
        top: -240px;
    }
    #dr-salvino{
        padding-bottom: 0;
        margin-bottom: -200px;
        margin-top: -50px;
    }
    #dr-salvino img {
        max-width: 280px;
    }
    #convenios img {
        margin-top: 30px;
    }
    .fs-small {
        font-size: 12px;
    }

    .convenios{
        padding: 50px 25%;
    }
    .initial_dash{
        justify-content: space-between;
    }
    .container-prop{
        width: 100%;
        height: 60%;
    }
    .next{
        width: 100%;
        height: 25%;
    }
}

@media (max-width:880px) {
    .dash{
        min-height: 440px;
    }
    .dash_menu_user{
        position: absolute;
        top: 15%;
        left: 0;
        display: none;
        width: 30%;
        min-width: 225px;
        max-height: 990px;
        z-index: 1000;
    }
    .body_user{
        display: block; 
    }
    .btn-nav{
        display: inline;
    }
}

@media (max-width: 790px) {
    .container-middle.address {
        justify-items: stretch;
    } 
    .btn-purple{
        width: 100px;
    }

    .btn-en{
        width: min-content;
    }

    .btn-black-white{
        width: 100px;
    }

    table{
        width: 100%;
        font-size: 12px;
    } 

    .right{
        width: 140%;
        margin-right: 0;
    }

    .left{
        margin-left: 0;
    }

    .mid{
        margin-left: 50%;
    }

    .btn-white{
        transform: scale(0.75);
    }

    .btn-black{
        transform: scale(0.75);
    }
}

@media (max-width: 575.98px) { 
    .nav_menu{
        height: 415%;
    }
    .row {
        flex-direction: column;
    }
    .row-center {
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    .bord-right{
        margin: 0
    }
    .container-prop{
        display: flex;
        flex-direction: column
    }
    .modulo{
        min-height: 350px;
    }
}

@media (max-width: 425px) {
    .dash{
        padding: 7% 5%;
    }
    .body_user{
        padding: 5%
    }
    .page{
        padding: 15% 5%;
    }
    .med-text{
        top: -150px;
        left: 0;
        padding: 70px 10% 0;
    }
    .med-img{
        width: 199px;
    }
    .circulo{
        width: 200px;
        height: 200px;
        top: 0;
        left: -4px;
    }
    .reverse .med-text{
        left: 0;
    }
}

@media (max-width: 325px) {
    .info-card{
        padding: 3%;
        grid-template-columns: 0.5fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas:
        "p p"
        "m m"
        "e e"
        "d d"
        "h h"
        "s s"
        "doc c";
    }
}