<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
    <link rel="stylesheet" href="../../assets/css/forms.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/formatados.css">
    <link rel="stylesheet" href="../../assets/css/globais.css">
    <link rel="stylesheet" href="../../assets/css/responsivo.css">
    <script src="../../assets/js/script.js"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <a href="../../index.html"><img class="logo_branco escalar" src="../../assets/img/Logo Branco 1.png"></a>
            <button id="Agendamento-cad" class="btn btn-white">Agendamento Online</button>
            <button class="navbar-toggler custom-toggler white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </header>

    <main>
        <div class="container-payment">
            <h1 id="title">PAGAMENTO</h1>
            <table>
                <thead>
                    <th class="cells">Descrição do Tratamento</th>
                    <th class="cells">Valor</th>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div id="options-payment">
                <h3 id="total">Total:</h3>
                <h3 id="payment-metod">Forma de Pagamento</h3>
            </div>
            <div id="options-buttons">
                <div class="options-buttons-lines bottom-padding">
                    <button id="button-card" class="animationPayment submit">Cartão</button>
                    <button id="button-convenio" class="animationPayment submit">Convênio</button>
                </div>
                <div class="options-buttons-lines">
                    <button id="back" class="animationBack back">Cancelar</button>
                    <button id="button-payment" class="animationPayment submit">Pagar no Dia</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p id="Copyright">Copyright 2023 - Desenvolvido por DEV Nutri - Todos os direitos reservados.</p>
    </footer>
</body>

</html>