{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block content %}  
    <div class="dash bg-darkgray page">
        <form class="form" action="{% url 'abrir_ficha_prop' consulta.id %}" method="post">
            <h1 class="dash_title">Abrir Ficha</h1>
            <h3 class="text confirm">Deseja abrir a ficha do paciente "{{ paciente.name }} para a consulta das {{ consulta.hora|time:"H:i" }}"?</h3>
            {% csrf_token %}
            <div class="button-box">
                <input type="submit" id="back" onclick="voltar()" class="btn-black-white btn-dash" value="Voltar">
                <button type="submit" data-button class="btn-purple btn-dash">Confirmar</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block script %}
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}