{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block content %}
    <section class="dash bg-darkgray page">
        <h1 class="dash_title">Cadastro de Convenio</h1>
        <form class="form" id="form-cad" enctype="multipart/form-data" action="#" method="POST" role="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-control">
                <input type="text" id="empresa_convenio" class="input" name="name" placeholder="Fornecedora do Convênio">
                <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                <small class="message"></small>
            </div>

            <div class="result">
                <p class="result-text">
                    {% if message_view and messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger">
                                    <strong>Erro!</strong>
                                    {{ message }}
                                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                                </div>
                            {% else %}
                                <div class="alert alert-success">
                                    <strong>Sucesso!</strong>
                                    {{ message }}
                                    <i class="fa-solid fa-circle-check icon-success hidden" style="color: #328146;"></i>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
            
            <div class="button-box">
                <input type="submit" id="back-med" onclick="voltar()" class="btn-black-white btn-dash" value="Voltar">
                <button type="submit" data-button class="btn-purple btn-dash">Cadastrar</button>
            </div>
        </form>
    </section>
{% endblock content %}

{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/formValidation.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}