{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block content %}
    <section class="dash page bg-darkgray">
        <h1 class="dash_title">Agendar Consulta</h1>
        <form class="form" id="form-cad" enctype="multipart/form-data" action="{% url 'agendamento_prop' %}" method="POST" role="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-control">
                <select name="paciente" id="paciente" class="input" form="form-cad">
                    <option value="" disabled selected>Paciente</option>
                    {% for paciente in pacientes %}
                        <option value="{{ paciente.id }}">{{ paciente.name }}</option>
                    {% endfor %}
                </select>
                
                <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                <small class="message"></small>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <select name="tipo_consulta" id="consulta" class="input" form="form-cad">
                        <option value="" disabled selected>Tipo de Atendimento</option>
                        <option value="Presencial">Presencial</option>
                        <option value="Remoto">Remota</option>
                    </select>
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

                <div class="form-control">
                    <select name="especialidade" id="especialidade" class="input" form="form-cad">
                        <option value="" disabled selected>Especialidades</option>
                        {% for especialidade in especialidades %}
                            <option value="{{ especialidade.id }}">{{ especialidade.nome_especialidade }}</option>
                        {% endfor %}
                    </select>
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <select name="medico" id="medico" class="input" form="form-cad">
                        <option value="" disabled selected>Médico</option>
                        {% for medico in medicos %}
                            <option value="{{ medico.id }}">{{ medico.name }}</option>
                        {% endfor %}
                    </select>
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <input type="date" id="date" class="input" name="data">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

                <div class="form-control">
                    <select name="hora" id="hora" class="input" form="form-cad">
                        <option value="" disabled selected>Horas</option>
                        <option value="08:00:00">08:00</option>
                        <option value="08:30:00">08:30</option>
                        <option value="09:00:00">09:00</option>
                        <option value="09:30:00">09:30</option>
                        <option value="10:00:00">10:00</option>
                        <option value="10:30:00">10:30</option>
                        <option value="11:00:00">11:00</option>
                        <option value="11:30:00">11:30</option>
                        <option value="12:00:00">12:00</option>
                        <option value="13:00:00">13:00</option>
                        <option value="13:30:00">13:30</option>
                        <option value="14:00:00">14:00</option>
                        <option value="14:30:00">14:30</option>
                        <option value="15:00:00">15:00</option>
                        <option value="15:30:00">15:30</option>
                        <option value="16:00:00">16:00</option>
                        <option value="16:30:00">16:30</option>
                        <option value="17:00:00">17:00</option>
                    </select>
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>

                <div class="form-control">
                    <input type="file" id="documentos" name="arquivos" placeholder="Documentos" class="input arquivo" multiple><label for="file-input" class="">Escolha um arquivo</label>
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

            <div class="captcha-box">
                <input type="checkbox" name="Eu não sou um robô" value="Eu não sou um robô"><p class="robot">Não sou
                    robô</p>
            </div>
            <div class="result">
                <p class="result-text">
                    {% if message_view and messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger">
                                    <strong>Erro!</strong>
                                    {{ message }}
                                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                                </div>
                            {% else %}
                                <div class="alert alert-success">
                                    <strong>Sucesso!</strong>
                                    {{ message }}
                                    <i class="fa-solid fa-circle-check icon-success hidden" style="color: #328146;"></i>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
            <div class="button-box">
                <input type="submit" id="back" onclick="voltar()" class="btn-black-white" value="Voltar">
                <button type="submit" data-button class="btn-purple">Cadastrar</button>
            </div>
        </form>
    </section>
{% endblock content %}
{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/formValidation.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dateInput = document.getElementById('date');
            const horaSelect = document.getElementById('hora');
            const especialidadeSelect = document.getElementById('especialidade');
            const medicoSelect = document.getElementById('medico');

            dateInput.addEventListener('change', function() {
                const selectedDate = this.value;
                const especialidadeId = especialidadeSelect.value;
                const medicoId = medicoSelect.value;

                if (selectedDate && especialidadeId && medicoId) {
                    fetch(`/get_available_times?date=${selectedDate}&especialidade=${especialidadeId}&medico=${medicoId}`)
                        .then(response => response.json())
                        .then(data => {
                            // Limpa as opções anteriores
                            horaSelect.innerHTML = '<option value="" disabled selected>Horas</option>';

                            // Adiciona as novas opções
                            data.available_times.forEach(time => {
                                const option = document.createElement('option');
                                option.value = time;
                                option.textContent = time.slice(0, 5);
                                horaSelect.appendChild(option);
                            });
                        })
                        .catch(error => {
                            console.error('Erro ao buscar horários disponíveis:', error);
                        });
                }
            });
        });
    </script>
{% endblock script %}