{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block content %}
    <section class="dash bg-darkgray">
        <h1 class="dash_title">Bandeiras de Cartões</h1>
        <div class="list">
            <a href="{% url 'adicionar_bandeira' %}" class="btn btn-purple center add btn-dash">Adicionar Bandeira</a>
            <div class="tri-cabecalho">
                <p>Bandeira</p>
                <p></p>
            </div>
            {% if bandeiras %}
                {% for bandeira in bandeiras %}
                    <div class="tri-info">
                        <p>{{ bandeira.name }}</p>
                        <div></div>
                        <a href="{% url 'deletar_bandeira' bandeira.id %}"><img class="icon-delete escalar btn-dash" src="{% static 'img/delete.svg' %}" alt=""></a>
                    </div>
                {% endfor %}

            {% else %}
                <h3 class="aviso">Não há bandeiras de cartões cadastradas.</h3> 
            {% endif %}
        </div>
        <div class="button-box">
            <input type="submit" id="back" onclick="voltar()" class="btn-black-white btn-dash" value="Voltar">
        </div>
    </section>
{% endblock content %}