{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block content %}  
    <section class="dash bg-darkgray">
        <h1 class="dash_title">Cartões: {{ paciente.name }}</h1>
        <div class="list">
            <a href="{% url 'adicionar_cartoes' paciente.user.id %}" class="btn btn-purple center add btn-dash">Adicionar Cartão</a>
            <div class="cabecalho-card">
                <p>Bandeira</p>
                <p>Número</p>
                <p>Vencimento</p>
            </div>
            {% if cartoes %}
            {% for cartao in cartoes %}
                <div class="info-card">
                    <p>{{ cartao.bandeira_cartao }}</p>
                    <p>{{ cartao.numero_cartao }}</p>
                    <p>{{ cartao.data_vencimento }}</p>
                    <a class="btn-dash" href="{% url 'deletar_cartao' cartao.id %}"><img class="icon-delete escalar" src="{% static 'img/delete.svg' %}" alt=""></a>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="aviso">Não há cartões cadastrados.</h3> 
        {% endif %}
        </div>
    </section>  
{% endblock content %}
{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/button.js' %}"></script>
    <script src="{% static 'js/open_menu.js' %}"></script>
{% endblock script %}