{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block header %}
    <header class="header bg-yellow">
        <div class="container">
            <a href="{% url 'home' %}" class="login">
                <img class="escalar" src="{% static 'img/Logo Branco 1.png' %}">
            </a>
        </div>
    </header>
{% endblock header %}
{% block content %}
    <section class="dash bg-darkgray">
        <h1 class="dash_title">Consultas</h1>
        <div class="list">
            <a href="{% url 'agendamento' %}" class="btn btn-purple center add">Agendar consultas</a>
            {% if consultas %}
                {% for consulta in consultas %}
                    <div class="info-consulta">
                        <p class="paciente"><b>Paciente:</b> {{ consulta.paciente.name }}</p>
                        <p class="medico"><b>Médico:</b> {{ consulta.medico.name }}</p>
                        <p class="especialidade"><b>Especialidade</b> {{ consulta.especialidade }}</p>
                        <p class="data"><b>Data:</b> {{ consulta.data|date:'d/m/Y' }}</p>
                        <p class="hora"><b>Hora:</b> {{ consulta.hora|time:"H:i" }}</p>
                        <p class="status"><b>Status:</b> {{ consulta.status_consulta }}</p>
                        <a href="" class="btn btn-purple center add doc">Documentos</a>
                        <a class="btn btn-purple center add can" href="{% url 'cancelar_consulta' consulta.id %}">Cancelar consulta</a>
                    </div>
                {% endfor %}

            {% else %}
                <h3 class="aviso">Não há consultas marcadas.</h3> 
            {% endif %}
        </div>
    </section>
{% endblock content %}