{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block content %}  
    <section class="dash bg-darkgray">
        <h1 class="dash_title">Convênios: {{ paciente.name }}</h1>
        <div class="list">
            <a href="{% url 'adicionar_convenio_prop' paciente.user.id %}" class="btn btn-purple center add btn-dash">Adicionar Convênio</a>
            <div class="cabecalho-card">
                <p>Convênio</p>
                <p>Plano</p>
                <p>Carteirinha</p>
            </div>
            {% if convenios %}
            {% for convenio in convenios %}
                <div class="tri-info">
                    <p>{{ convenio.convenio }}</p>
                    <p>{{ convenio.plano_convenio }}</p>
                    <p>{{ convenio.numero_carteirinha }}</p>
                    <a class="btn-dash" href="{% url 'deletar_convenio_prop' convenio.id %}"><img class="icon-delete escalar" src="{% static 'img/delete.svg' %}" alt=""></a>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="aviso">Não há convênios cadastrados para esse paciente.</h3> 
        {% endif %}
        </div>
        <div class="button-box">
            <input type="submit" id="back" onclick="voltar()" class="btn-black-white btn-dash" value="Voltar">
        </div>
    </section>  
{% endblock content %}
{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/button.js' %}"></script>
    <script src="{% static 'js/open_menu.js' %}"></script>
{% endblock script %}