{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block header %}
    <header class="header bg-yellow">
        <div class="container">
            <a href="{% url 'home' %}" class="login">
                <img class="escalar" src="{% static 'img/Logo Branco 1.png' %}">
            </a>
        </div>
    </header>
{% endblock header %}

{% block content %}  
    <div class="dash bg-darkgray page">
        <form class="form" action="{% url 'deletar_cartao' cartao.id %}" method="post">
            <h1 class="dash_title">Confirmar Exclusão</h1>
            <h3 class="text confirm">Tem certeza que deseja excluir o cartão "{{ cartao.numero_cartao }}"?</h3>
            {% csrf_token %}
            <div class="button-box">
                <input type="submit" id="back" onclick="voltar()" class="btn-black-white" value="Voltar">
                <button type="submit" data-button class="btn-purple">Confirmar</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block script %}
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}