{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block content %}
    <section class="dash bg-darkgray">
        <h1 class="dash_title">Especialidades</h1>
        <div class="list">
            <a href="{% url 'adicionar_especialidade' %}" class="btn btn-purple center add btn-dash">Adicionar Especialidade</a>
            <div class="tri-cabecalho">
                <p>Especialidade</p>
                <p>Informações</p>
            </div>
            {% if especialidades %}
                {% for especialidade in especialidades %}
                    <div class="tri-info">
                        <p>{{ especialidade.nome_especialidade }}</p>
                        <a href="{% url 'especialidade' especialidade.id %}" class="btn btn-purple center btn-dash">Info</a>
                        <a href="{% url 'delete_especialidade' especialidade.id %}"><img class="icon-delete escalar" src="{% static 'img/delete.svg' %}" alt=""></a>
                    </div>
                {% endfor %}

            {% else %}
                <h3 class="aviso">Não há especialidades cadastradas.</h3> 
            {% endif %}
        </div>
    </section>
{% endblock content %}