{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block content %}
    <section class="dash bg-darkgray">
        <h1 class="dash_title">Abrir Ficha</h1>
        <div class="list">
            {% if consultas %}
                {% for consulta in consultas %}
                    {% if consulta.status_consulta == 'Agendada' %}
                        <div class="info-card">
                            <p class="paciente"><b>Paciente:</b> {{ consulta.paciente.name }}</p>
                            <p class="medico"><b>Médico:</b> {{ consulta.medico.name }}</p>
                            <p class="especialidade"><b>Especialidade</b> {{ consulta.especialidade }}</p>
                            <p class="hora"><b>Hora:</b> {{ consulta.hora|time:"H:i" }}</p>
                            <p class="status"><b>Status:</b> {{ consulta.status_consulta }}</p>
                            <a class="btn btn-purple center add can btn-dash" href="{% url 'abrir_ficha_prop' consulta.id %}">Abrir Ficha</a>
                        </div>
                    {% endif %}
                {% endfor %}

            {% else %}
                <h3 class="aviso">Não há agendamentos que precisam ser abertos.</h3> 
            {% endif %}
        </div>
    </section>
{% endblock content %}