{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block content %}
    <section class="dash bg-darkgray">
        <h1 class="dash_title">Convênios</h1>
        <div class="list">
            <a href="{% url 'adicionar_convenio' %}" class="btn btn-purple center add btn-dash">Adicionar Convênio</a>
            <div class="tri-cabecalho">
                <p>Fornecedor</p>
                <p>Planos</p>
            </div>
            {% if convenios %}
                {% for convenio in convenios %}
                    <div class="tri-info">
                        <p>{{ convenio.name }}</p>
                        <a href="{% url 'planos_convenio' convenio.id %}" class="btn btn-purple center open-btn btn-dash">Planos</a>
                        <a class="btn-dash" href="{% url 'deletar_convenio' convenio.id %}"><img class="icon-delete escalar" src="{% static 'img/delete.svg' %}" alt=""></a>
                    </div>
                {% endfor %}

            {% else %}
                <h3 class="aviso">Não há fornecedores de convênio cadastrados.</h3> 
            {% endif %}
        </div>
    </section>
{% endblock content %}