{% extends 'background_proprietario.html'%}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block content %}  
    <section class="dash page bg-darkgray">
        <h1 class="dash_title">Minha Conta</h1>
        <form class="form" id="form-cad" enctype="multipart/form-data" action="#" method="POST" role="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-control">
                <input type="text" id="Name" class="input" name="name" placeholder="Nome completo" value="{{ proprietario.name }}">
                <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                <small class="message"></small>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <select name="sexo" id="sexo" class="input" form="form-cad">
                        <option value="" disabled>Sexo</option>
                        {% if proprietario.sexo == 'Masculino' %}
                            <option value="Masculino" selected>Masculino</option>
                        {% else%}
                            <option value="Masculino">Masculino</option>
                        {% endif %}
                        {% if proprietario.sexo == 'Feminino' %}
                            <option value="Feminino" selected>Feminino</option>
                        {% else%}
                            <option value="Feminino">Feminino</option>
                        {% endif %}
                        {% if proprietario.sexo == 'Prefiro Não Responder' %}
                            <option value="Prefiro Não Responder" selected>Prefiro Não Responder</option>
                        {% else%}
                            <option value="Prefiro Não Responder">Prefiro Não Responder</option>
                        {% endif %}
                    </select>
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

                <div class="form-control">
                    <select name="genero" id="genero" class="input" form="form-cad">
                        <option value="" disabled>Gênero</option>
                        {% if proprietario.genero == 'Homem Cis' %}
                            <option value="Homem Cis" selected>Homem Cis</option>
                        {% else%}
                            <option value="Homem Cis">Homem Cis</option>
                        {% endif %}
                        {% if proprietario.genero == 'Mulher Cis' %}
                            <option value="Mulher Cis" selected>Mulher Cis</option>
                        {% else%}
                            <option value="Mulher Cis">Mulher Cis</option>
                        {% endif %}
                        {% if proprietario.genero == 'Homem Trans' %}
                            <option value="Homem Trans" selected>Homem Trans</option>
                        {% else%}
                            <option value="Homem Trans">Homem Trans</option>
                        {% endif %}
                        {% if proprietario.genero == 'Mulher Trans' %}
                            <option value="Mulher Trans" selected>Mulher Trans</option>
                        {% else%}
                            <option value="Mulher Trans">Mulher Trans</option>
                        {% endif %}
                        {% if proprietario.genero == 'Outro' %}
                            <option value="Outro" selected>Outro</option>
                        {% else%}
                            <option value="Outro">Outro</option>
                        {% endif %}
                        {% if proprietario.genero == 'Prefiro Não Responder' %}
                            <option value="Prefiro Não Responder" selected>Prefiro Não Responder</option>
                        {% else%}
                            <option value="Prefiro Não Responder">Prefiro Não Responder</option>
                        {% endif %}
                    </select>
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <input type="date" id="date" class="input" name="data_nascimento" value="{{ proprietario.data_nascimento|date:'Y-m-d' }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
                <div class="form-control">
                    <input type="text" maxlength="9" minlength="9" inputmode="numeric" id="RG" name="rg"
                        placeholder="RG" class="input" value="{{ proprietario.rg }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <input type="text" maxlength="11" minlength="11" inputmode="numeric" id="CPF" name="cpf"
                        placeholder="CPF" class="input" value="{{ proprietario.cpf }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
                <div class="form-control">
                    <input type="text" maxlength="12" minlength="12" inputmode="numeric" id="CRM" name="crm"
                        placeholder="CRM" class="input" value="{{ proprietario.rg }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <input type="tel" maxlength="14" minlength="11" class="input" id="phone" name="telefone"
                        placeholder="(ddd) 99999-9999" value="{{ proprietario.telefone }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
                <div class="form-control">
                    <input type="text" inputmode="numeric" id="CEP" class="input" name="cep" placeholder="CEP" value="{{ proprietario.cep }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>


            </div>

            <div class="container-middle">
                <div class="form-control">
                    <input type="text" id="estado" class="input" name="estado" placeholder="Estado" value="{{ proprietario.estado }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
                <div class="form-control">
                    <input type="text" id="cidade" class="input" name="cidade" placeholder="Cidade" value="{{ proprietario.cidade }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>

            <div class="container-middle address">
                <div class="form-control right">
                    <input type="text" id="logradouro" class="input" name="logradouro" placeholder="Logradouro" value="{{ proprietario.logradouro }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

                <div class="form-control address  mid">
                    <input type="text" inputmode="numeric" class="input" id="Numero" name="numero" placeholder="N°" value="{{ proprietario.numero }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

                <div class="form-control left">
                    <input type="text" name="complemento" class="input" id="Complemento" placeholder="Complemento" value="{{ proprietario.complemento }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <input type="text" id="bairro" class="input" name="bairro" placeholder="Bairro" value="{{ proprietario.bairro }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>
            
            <div class="result">
                <p class="result-text">
                    {% if message_view and messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger">
                                    <strong>Erro!</strong>
                                    {{ message }}
                                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                                </div>
                            {% else %}
                                <div class="alert alert-success">
                                    <strong>Sucesso!</strong>
                                    {{ message }}
                                    <i class="fa-solid fa-circle-check icon-success hidden" style="color: #328146;"></i>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
            <div class="button-box">
                <a href="{% url 'alterar_senha' %}" class="btn btn-purple center add btn-dash">Alterar Senha</a>
            </div>
            <div class="button-box">
                <input type="submit" id="back" onclick="voltar()" class="btn-black-white btn-dash" value="Voltar">
                <button type="submit" data-button class="btn-purple btn-dash">Salvar</button>
            </div>
        </form>
    </section>  
{% endblock content %}
{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/formValidation.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}