{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block header %}
    <header class="header bg-yellow">
        <div class="container">
            <a href="{% url 'home' %}" class="login">
                <img class="escalar" src="{% static 'img/Logo Branco 1.png' %}">
            </a>
        </div>
    </header>
{% endblock header %}

{% block content %}
<section class="dash page bg-darkgray">
    <h1 class="dash_title">Pagamento de Cartão</h1>
    <form class="form func" action="#" method="POST">
        {% csrf_token %}
        <select name="cartao" id="register" class="register">
            {% for cartao in cartoes %}
                <option value="{{ cartao.id }}">{{ cartao.bandeira }}: {{ cartao.numero_cartao }}</option>
            {% endfor %}
        </select>
        <div class="result">
            <p class="result-text">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger">
                                <strong>Erro!</strong>
                                {{ message }}
                                <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                            </div>
                        {% else %}
                            <div class="alert alert-success">
                                <strong>Sucesso!</strong>
                                {{ message }}
                                <i class="fa-solid fa-circle-check icon-success hidden" style="color: #328146;"></i>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
            </p>
        </div>
        <div class="button-box">
            <a id="back" href="{% url 'cancelar_consulta_notPay' consulta.id %}" class="btn-black-white">Cancelar</a>
            <button type="submit" data-button class="btn-purple">Salvar</button>
        </div>
    </form>
    
</section>
{% endblock content %}

{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/select_register.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}