{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block content %}
<section class="dash page bg-darkgray">
    <h1 class="dash_title">Pagamento através de Cartão</h1>
    <form class="form func" action="#" method="POST">
        {% csrf_token %}
        <select name="cartao" id="register" class="register">
            <option value="" selected disabled>Selecione o cartão que você deseja utilizar:</option>
            {% for cartao in cartoes %}
                <option value="{{ cartao.id }}">{{ cartao.bandeira }}: {{ cartao.numero_cartao }}</option>
            {% endfor %}
        </select>
       
        <div class="button-box">
            <input type="submit" id="back" onclick="voltar()" class="btn-black-white" value="Cancelar">
            <button type="submit" data-button class="btn-purple">Salvar</button>
        </div>
    </form>
    
</section>
{% endblock content %}

{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}