{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block content %}
<section class="dash page bg-darkgray">
    <h1 class="dash_title">Pagamento através de Convênio</h1>
    <form class="form" action="#" method="POST">
        {% csrf_token %}
        <select name="convenio" id="register" class="register">
            <option value="" selected disabled>Selecione o convênio que você deseja utilizar:</option>
            {% for convenio in convenios %}
                <option value="{{ convenio.id }}">{{ convenio.convenio }}: {{ convenio.numero_carteirinha }}</option>
            {% endfor %}
        </select>
        
        <div class="button-box">
            <input type="submit" id="back" onclick="voltar()" class="btn-black-white btn-dash" value="Cancelar">
            <button type="submit" data-button class="btn-purple btn-dash">Salvar</button>
        </div>
    </form>
    
</section>
{% endblock content %}

{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}