{% extends 'background_proprietario.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Proprietário - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block content %}  
    <section class="dash bg-darkgray">
        <h1 class="dash_title">Planos {{convenio.name}}</h1>
        <div class="list">
            <a href="{% url 'adicionar_plano' convenio.id %}" class="btn btn-purple center add btn-dash">Adicionar Plano</a>
            <div class="tri-cabecalho">
                <p>Plano</p>
                <p></p>
            </div>
            {% if planos %}
            {% for plano in planos %}
                <div class="tri-info">
                    <p>{{ plano.name }}</p>
                    <div></div>
                    <a class="btn-dash" href="{% url 'deletar_plano' plano.id %}"><img class="icon-delete escalar" src="{% static 'img/delete.svg' %}" alt=""></a>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="aviso">Não há planos cadastrados.</h3> 
        {% endif %}
        </div>
    </section>  
{% endblock content %}
{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/button.js' %}"></script>
    <script src="{% static 'js/open_menu.js' %}"></script>
{% endblock script %}