/*Estilos compartilhados*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #2BAE89;
    font-size: large;
    text-align: center;
    border: 1px;
    justify-content: center;
    align-content: center;
}

.title {
    font-size: clamp(15px, 15px + 1vw, 36px);
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color:  #333333;
    margin-bottom: 15px;
}

#robot{
    margin-left: 5.18% ;
    font-size: clamp(4px, 4px + 1vw, 15px);
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.back{
    border-radius: 15px;
    border: 3px solid #000000;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: clamp(4px, 4px + 1vw, 15px);
    width: 130px;
    height: 40px;
}

footer{
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    background-color: #6F5BE3;
    height: 12vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: 100%;
    max-width: 1480px;
    margin: auto ;
}

#Copyright{
    font-size: clamp(4px, 4px + 1vw, 15px);
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
}





/*Estilos tela de login*/
.Login-Box .title{
    text-align: left;
}
.container-login{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 34.47%;
    width: 48.19%;
    border-radius: 15px;
    background-color: #F2F2F2;
    box-shadow: 0px 6px 5px 0px #00000040;
    margin-top: 200px;
    margin-bottom: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#Logo {
    width: 23.86%;
    height: 23.86%;
    position: relative;
    right: 0;
    animation: surgir;
    animation-duration: 2s;
}

.Login-Box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 50%;
}

.options-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8.29%;
    width: 100%;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.text-options{
    font-size: clamp(4px, 4px + 1vw, 15px);
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color:  #333333;
    cursor: pointer;
}

.text-options:hover{
    text-decoration: underline;
}

.captcha-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 0px;
    border: none;
    background-color: #FFFFFF;
    width: 250px;
    height: 70px;
    padding-left: 25px;
}

.button-box-login{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 60px;
    padding-left: 5%;
}

/*Estilos do cadastro*/
#Login{
    height: 40px;
    width: 130px;
    border-radius: 30px;
    border: 3px solid #FFFFFF;
    background-color: #6F5BE3;
    color: #FFFFFF;
    font-size: clamp(4px, 4px + 1vw, 15px);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.11%;
    padding-right: 0.11%;
}

.container-cad{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 66.61951909476662%;
    width: 58.19444444444444%;
    border-radius: 15px;    
    background-color: #F2F2F2;
    box-shadow: 0px 6px 5px 0px #00000040;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top: 115px;
    margin-bottom: 115px;
}

.form-cad{
    translate: 50%, -50%;
}


.option-dependence{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.checkbox{
    width: 13px;
    height: 13px;
    align-items: center;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.complemento {
    width: 50%;
}

.right {
    margin-right: 10% ;
}

.left{
    margin-left: 10%;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: #828CAD;
}

.form-control input {
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;

    font-size: 14px;

    width: 100%;
    padding: 15px;
    position: relative;
}

.form-control.success input {
    border: 3px solid #328146;
}

.form-control.error input {
    border: 3px solid #b22c2c;
}

.shake {
    animation: shake 0.2s 2;
}

@keyframes shake {
    25% {
        translate: 6px 0;
    }
    50% {
        translate: -6px 0;
    }
    75% {
        translate: 6px 0;
    }
}

.form-control.success i.icon-success {
    visibility: visible;
}

.form-control.error i.icon-error {
    visibility: visible;
}

.form-control.error small{
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 17px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 12px;
    color: #b22c2c;

}

.container-middle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 2.38%;
}

#button-box-cad{
    width: 100%;
    height: 50.53%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 4.38%;
}

.submit {
    width: 130px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #6F5BE3;
    font-size: clamp(4px, 4px + 1vw, 15px);
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.message{
    position: absolute;
    top: 50px;
    left: 0;
}




/*Estilos página esqueci minha senha*/

.menu-button{
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.container-forgot .title{
    margin-bottom: 30px;
}

.form {
    padding: 0 40px 30px;
    width: 50%;
    
}

.form-control .code{
    margin-top: 45px ;
}

.captcha-box.center{
    position: relative; 
    top:50%;
    left:50%;
    transform: translate(-50%, 0)
}

.container-forgot{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 42.14%;
    width: 58.19444444444444%;
    border-radius: 15px;    
    background-color: #F2F2F2;
    box-shadow: 0px 6px 5px 0px #00000040;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top: 135px;
    margin-bottom: 135px;
}

#receive {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

#button-receive-box {
    width: 100%;
    height: 50.53%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 4.38%;
}

#receive-button {
    border-radius: 15px;
    border: none;
    background-color: #6F5BE3;
    font-size: clamp(4px, 4px + 1vw, 15px);
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    padding-top: 2.43%;
    padding-bottom: 2.43%;
    padding-left: 9.43%;
    padding-right: 9.43%;
}

#Code-Box{
    display: flex;
    flex-direction: row;
    margin-top: 5.94%;
    justify-content: center;
    align-items: center;
}

.form-control .code{
    width: 50px;
    padding: 2.43%;
}


.button-box{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
}