

/*Botões*/
.btn-white {
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: 1s all ease-in-out;
    text-decoration: none;
}
.btn-white:hover {
    border: 2px solid white;
    background-color: #ffffff96;
    color: #333;
    transform: scale(1.1);
}
.btn-black {
    background: none;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
}
.btn-black:hover {
    background-color: #eaeaea;
}   
.escalar{
    transition: 1s all ease;
}
.escalar:hover{
    scale: 1.1;
}


/* Background Cores */
.bg-gray {
    background-color: #eaeaea;
    /* opacity: 0.78; */
}
.bg-white {
    background-color: #fff;
}
.bg-green {
    background-color: #03A678;;
}
.bg-purple {
    background-color: #6F5BE3;
}

/* Cores */
.white {
    color: white;
}
.black {
    color: #333;
}
.black-link a{
    color: #333;
    text-decoration: underline;
}