

/*Botões*/
.btn-white {
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
}
.btn-white:hover {
    background-color: #ffffff96;
    color: #333;
}
.btn-black {
    background: none;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
}
.btn-black:hover {
    background-color: #fff;
    
}



/* Background Cores */
.bg-gray {
    background-color: #eaeaea;
    /* opacity: 0.78; */
}
.bg-white {
    background-color: #fff;
}
.bg-green {
    background-color: #03A678;;
}

/* Cores */
.white {
    color: white;
}