{% load static i18n %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block head_title %}
        {% endblock head_title %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/formatados.css' %}">
    <link rel="stylesheet" href="{% static 'css/globais.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsivo.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
    </style>
    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body class="home_body saindo bg-green">
    <header>
        <nav class="navbar navbar-expand-sm bg-purple d-flex d-lg-none">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/logo-branco-responsivo.png' %}" class="logo_branco">
                </a>
                <button class="navbar-toggler custom-toggler white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse nav-responsive" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link white bord-right escalar" href="{% url 'cadastro' %}">Fazer cadastro</a>
                        <a class="nav-link white bord login-button btn-white" href="{% url 'login' %}">Fazer
                            login</a>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="nav-home nav-bar d-none d-lg-flex animate">
            <div class="container-fluid">
                <div class="row justify-content-around nav">
                    <div class="col-lg-auto nav-brand d-flex align-items-center">
                        <a href="{% url 'home' %}">
                            <div class="logo-home escalar">
                                <img src="{% static 'images/logo-branco.png' %}" class="logo_branco">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-auto d-flex align-items-start">
                        <a href="{% url 'login' %}" class="btn btn-white">
                            Agendamento de Consulta
                        </a>
                    </div>
                    {% if user.is_authenticated %}
                        <nav class="navbar navbar-dark bg-transparent btn-auth">
                            <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            </div>
                        </nav>
                    {% else %}
                        <div class="col-lg-auto d-flex align-items-start justify-content-center">
                            <ul class="home_nav_ul">
                                <li class="escalar">
                                    <a class="change-color" href="{% url 'cadastro' %}">Cadastrar</a>
                                </li>
                                <li> | </li>
                                <li class="escalar login">
                                    <a href="{% url 'login' %}" class="btn-white login">Fazer Login</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="collapse menu-ab" id="navbarToggleExternalContent" data-bs-theme="dark">
                <div class="bg-dark p-4">
                    <ul class="home_nav_ul menu-options">
                        <li class="escalar">
                            <a href="{% url 'login' %}">Minha Página</a>
                        </li>
                        <div class="line"></div>
                        <li class="escalar">
                            <a href="{% url 'logout' %}">Sair</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer class="bg-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center py-3">
                    <p class="fs-small text-center mb-0 black fw-bold">© Copyright 2023 - Desenvolvido por DEV Nutri
                        - Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
{% block script %}
{% endblock script %}
</html>