{% extends 'background.html' %}
{% load static i18n %}
{% block head_title %}
{% trans 'Alterar Email - Clínica Salvino' %}
{% endblock head_title %}

<title>
    {% block head_title %}
    {% endblock head_title %}
</title>

{% block header %}
    <header class="header bg-purple">
        <div class="container">
            <a href="{% url 'home' %}" class="login">
                <img class="escalar" src="{% static 'img/Logo Branco 1.png' %}">
            </a>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <main>

        <div class="body-container">

            <h1 class="title">Alterar Senha</h1>

            <form id="form-changePassword" class="form-changePassword form" action="/action_page.php">
                <div class="form-control">
                    <input type="password" id="newPassword" name="nova senha" class="input password" placeholder="Nova Senha">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
                <div class="form-control">
                    <input type="password" id="passwordCheck" name="Confirmar Senha" class="input passwordConfirm" placeholder="Confirmar Senha">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

                <div class="captcha-box center">
                    <input type="checkbox" name="Eu não sou um robô" value="Eu não sou um robô"><a class="robot">Não sou
                        robô</a>
                </div>
                <div class="button-box">
                    <input type="submit" id="back" class="btn-black-white" value="Voltar">
                    <input type="submit" id="save" class="btn-purple" value="Salvar">
                </div>
            </form>
        </div>
    </main>
{% endblock content %}

{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'formValidation.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}