{% extends 'background.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Login - Clínica Salvino' %}
{% endblock head_title %}

{% block header %}
    <header class="header bg-purple">
        <div class="container">
            <a href="{% url 'home' %}" class="login">
                <img class="escalar" src="{% static 'img/Logo Branco 1.png' %}">
            </a>
        </div>
    </header>
{% endblock header %}
{% block content %}
    <main>
        <div class="container-login">
            <img class="logo_branco center-img" src="{% static 'img/Logotipo Salvino.png' %}">
            <div class="Login-Box">
                <h1 class="title margin-tp">LOGIN</h1>
                <div class="inputs">
                    <form id="form-login" class="form" action="" method="post">
                        {% csrf_token %}
                        <div class="form-control">
                            <input type="text" id="email" name="username" placeholder="E-mail" class="input">
                            <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                            <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                            <small class="message"></small>
                        </div>
                        <div class="form-control">
                            <input type="password" id="password" name="password" placeholder="Senha" class="input">
                            <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                            <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                            <small class="message"></small>
                        </div>

                        <div class="options-box">
                            <div class="captcha-box">
                                <input type="checkbox" name="Eu não sou um robô" value="Eu não sou um robô"><p
                                    class="robot">Não sou robô</p>
                            </div>

                            <div class="options">
                                    <p class="text-options"><a href="{% url 'esqueci-senha' %}">Esqueci minha senha</a></p>
                                    <p class="text-options"><a href="{% url 'cadastro' %}">Cadastrar</a></p>
                            </div>
                        </div>
                        <div class="result">
                            <p class="result-text">
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                            <div class="alert alert-danger login">
                                                <strong>Erro!</strong>
                                                {{ message }}
                                                <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                                            </div>
                                        {% else %}
                                            <div class="alert alert-success">
                                                <strong>Sucesso!</strong>
                                                {{ message }}
                                                <i class="fa-solid fa-circle-check icon-success hidden" style="color: #328146;"></i>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </p>
                        </div>
                        <div class="button-box">
                            <button id="back" class="btn-black-white" onclick="voltar()">Voltar</button>
                            <button type="submit" data-button class="btn-purple">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/formValidation.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}