/* Css da pagina do usuario */

/* Css global da pagina do usuario */
*{
    margin: 0;
    padding: 0;
}

/* class do css do boddy da pagina do usuario */
.body_user {
background-color: #6F5BE3;                                                         /*  */
 min-height: 100vh;
 display: flex;
 justify-content: space-around;
}

.dash_menu {
    background-color: #333333;
    color: #ffffff;
    font-family: 'Kumbh-medium', Arial, Helvetica, sans-serif;
    width: 18.75em;
    height: 44.6875em;
    border-radius: 15px;
    justify-content: flex-start;
    position: relative;
    top: 3.25em;
    left: 3.25em;
}

.ul_dash_menu li {
    list-style: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 15px;
}

#line_menu {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 30px 0 30px;
}

.button_home {
    position: relative;
    top: 18px;
    left: 28px;
}

.image_user {
    display: flex;
    justify-content: center;
}

.day_week,
.date_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.date_grid {
    margin: 5px;
}

/* .calender {
    display: flex;
    justify-content: flex-end;
} */

.header_user {
    width: 63.4375em;
    height: 44.6875em;
    margin: 3em auto 0 auto;
    padding: 1.5em;
    background-color: #333333;
    border-radius: 15px;
}

.month {
    color: #ffffff;
    border: 6px solid;
}

.day_week {
    margin-top: 1.25em;
}

.day_week > * {
    font-size: 1em;
    color: #000;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
    font-variant: small-caps;
}

.day_week_border {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0 5px;
}

.date_grid button:first-child {
    grid-column: 1;
}

.date_grid button {
    display: flex;
    align-items: flex-start;
    width: 137px;
    height: 107px;
    border-radius: 5px;
    background-color: #ffffff;

}

.date_grid button:hover,
.date_grid button:focus {
    outline: none;
    background-color: #F2F2F2;
}

.date_grid button:active,
.date_grid button.is-selected {
    border: 3px solid #2BAE89;
 
}
.date_grid time{
    margin: 10px;
}