{% extends 'background_paciente.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Paciente - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block header %}
    <header class="header bg-purple">
        <div class="container">
            <a href="{% url 'home' %}" class="login">
                <img class="escalar" src="{% static 'img/Logo Branco 1.png' %}">
            </a>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <section class="dash bg-darkgray page">
        <h1 class="dash_title">Cadastro de Cartão</h1>
        <form class="form" id="form-cad" enctype="multipart/form-data" action="#" method="POST" role="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-control">
                <label for="bandeira_cartao">Bandeira do Cartão</label>
                <select id="Ban_car" class="input" name="bandeira_cartao" form="form-cad">
                    <option value="" selected disabled>Bandeira do Cartão</option>
                    {% for bandeira in bandeiras %}
                    <option value="{{ bandeira.id }}">{{ bandeira.name }}</option>
                    {% endfor %}
                </select>
                <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                <small class="message"></small>
            </div>
            
            <div class="form-control">
                <label for="numero_cartao">Número do Cartão</label>
                <input type="text" id="Num-card" class="input" name="numero_cartao" placeholder="Número do Cartão">
                <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                <small class="message"></small>
            </div>


            <div class="container-middle">
                <div class="form-control">
                    <label for="cvc">CVC</label>
                    <input type="text" maxlength="3" minlength="3" id="cvc" class="input" name="cvc" placeholder="CVC">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>
    
                    <small class="message"></small>
                </div>
                <div class="form-control">
                    <label for="data_vencimento">Data de Vencimento</label>
                    <input type="text" id="data_vencimento" class="input" name="data_vencimento" placeholder="mm/aaaa">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>
    
                    <small class="message"></small>
                </div>
            </div>

            <div class="result">
                <p class="result-text">
                    {% if message_view and messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger">
                                    <strong>Erro!</strong>
                                    {{ message }}
                                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                                </div>
                            {% else %}
                                <div class="alert alert-success">
                                    <strong>Sucesso!</strong>
                                    {{ message }}
                                    <i class="fa-solid fa-circle-check icon-success hidden" style="color: #328146;"></i>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
            
            <div class="button-box">
                <input type="submit" id="back-med" onclick="voltar()" class="btn-black-white" value="Voltar">
                <button type="submit" data-button class="btn-purple">Cadastrar</button>
            </div>
        </form>
    </section>
{% endblock content %}

{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/formValidation.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}