{% extends 'background_paciente.html'%}
{% load static i18n %}
{% block head_title %}
    {% trans 'Paciente - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block header %}
    <header class="header bg-purple">
        <div class="container">
            <a href="{% url 'home' %}" class="login">
                <img class="escalar" src="{% static 'img/Logo Branco 1.png' %}">
            </a>
        </div>
    </header>
{% endblock header %}

{% block content %}  
    <section class="dash page bg-darkgray">
        <h1 class="dash_title">Minha Conta</h1>
        <form class="form" id="form-cad" enctype="multipart/form-data" action="#" method="POST" role="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-control">
                <input type="text" id="Name" class="input" name="name" placeholder="Nome completo" value="{{ paciente.name }}">
                <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                <small class="message"></small>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <select name="sexo" id="sexo" class="input" form="form-cad">
                        <option value="" disabled>Sexo</option>
                        {% if paciente.sexo == 'Masculino' %}
                            <option value="Masculino" selected>Masculino</option>
                        {% else%}
                            <option value="Masculino">Masculino</option>
                        {% endif %}
                        {% if paciente.sexo == 'Feminino' %}
                            <option value="Feminino" selected>Feminino</option>
                        {% else%}
                            <option value="Feminino">Feminino</option>
                        {% endif %}
                        {% if paciente.sexo == 'Prefiro Não Responder' %}
                            <option value="Prefiro Não Responder" selected>Prefiro Não Responder</option>
                        {% else%}
                            <option value="Prefiro Não Responder">Prefiro Não Responder</option>
                        {% endif %}
                    </select>
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

                <div class="form-control">
                    <select name="genero" id="genero" class="input" form="form-cad">
                        <option value="" disabled>Gênero</option>
                        {% if paciente.genero == 'Homem Cis' %}
                            <option value="Homem Cis" selected>Homem Cis</option>
                        {% else%}
                            <option value="Homem Cis">Homem Cis</option>
                        {% endif %}
                        {% if paciente.genero == 'Mulher Cis' %}
                            <option value="Mulher Cis" selected>Mulher Cis</option>
                        {% else%}
                            <option value="Mulher Cis">Mulher Cis</option>
                        {% endif %}
                        {% if paciente.genero == 'Homem Trans' %}
                            <option value="Homem Trans" selected>Homem Trans</option>
                        {% else%}
                            <option value="Homem Trans">Homem Trans</option>
                        {% endif %}
                        {% if paciente.genero == 'Mulher Trans' %}
                            <option value="Mulher Trans" selected>Mulher Trans</option>
                        {% else%}
                            <option value="Mulher Trans">Mulher Trans</option>
                        {% endif %}
                        {% if paciente.genero == 'Outro' %}
                            <option value="Outro" selected>Outro</option>
                        {% else%}
                            <option value="Outro">Outro</option>
                        {% endif %}
                        {% if paciente.genero == 'Prefiro Não Responder' %}
                            <option value="Prefiro Não Responder" selected>Prefiro Não Responder</option>
                        {% else%}
                            <option value="Prefiro Não Responder">Prefiro Não Responder</option>
                        {% endif %}
                    </select>
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <input type="text" id="outro" class="input" name="outro" placeholder="Outro:" value="{{ paciente.outro }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <input type="date" id="date" class="input" name="data_nascimento" value="{{ paciente.data_nascimento|date:'Y-m-d' }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
                <div class="form-control">
                    <input type="text" maxlength="9" minlength="9" inputmode="numeric" id="RG" name="rg"
                        placeholder="RG" class="input" value="{{ paciente.rg }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <input type="text" maxlength="11" minlength="11" inputmode="numeric" id="CPF" name="cpf"
                        placeholder="CPF" class="input" value="{{ paciente.cpf }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
                <div class="form-control Dependente">
                    {% if paciente.status_dependencia == 'Independente' %}
                        <div class="option-dependence">
                            <label for="independente">Independente</label>
                            <input type="radio" name="status_dependencia" value="Independente" class="checkbox left input"
                                id="independente" value>
                            <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                            <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                            <small class="message"></small>
                        </div>

                        <div class="option-dependence">
                            <label for="dependente">Dependente</label>
                            <input type="radio" name="status_dependencia" value="Dependente" class="checkbox left input"
                                id="dependente">
                            <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                            <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                            <small class="message"></small>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="form-control">
                <input type="text" id="responsavel" class="input" name="nome_responsavel"
                    placeholder="Nome Responsável" value="{{ paciente.nome_responsavel }}">
                <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                <small class="message"></small>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <input type="text" maxlength="9" minlength="9" inputmode="numeric" id="RGResponsavel"
                        name="rg_responsavel" placeholder="RG do Responsável" class="input" value="{{ paciente.rg_responsavel }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
                <div class="form-control">
                    <input type="text" maxlength="11" minlength="11" inputmode="numeric" id="CPFResponsavel" class="input"
                        name="cpf_responsavel" placeholder="CPF do Responsável" value="{{ paciente.cpf_responsavel }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <input type="tel" maxlength="14" minlength="11" class="input" id="phone" name="telefone"
                        placeholder="(ddd) 99999-9999" value="{{ paciente.telefone }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
                <div class="form-control">
                    <input type="text" maxlength="8" minlength="8" inputmode="numeric" id="CEP" class="input" name="cep" placeholder="CEP" value="{{ paciente.cep }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>


            </div>

            <div class="container-middle">
                <div class="form-control">
                    <input type="text" id="estado" class="input" name="estado" placeholder="Estado" value="{{ paciente.estado }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
                <div class="form-control">
                    <input type="text" id="cidade" class="input" name="cidade" placeholder="Cidade" value="{{ paciente.cidade }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>

            <div class="container-middle">
                <div class="form-control">
                    <input type="text" id="bairro" class="input" name="bairro" placeholder="Bairro" value="{{ paciente.bairro }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>

            <div class="container-middle address">
                <div class="form-control right">
                    <input type="text" id="logradouro" class="input" name="logradouro" placeholder="Logradouro" value="{{ paciente.logradouro }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

                <div class="form-control address  mid">
                    <input type="text" inputmode="numeric" class="input" id="Numero" name="numero" placeholder="N°" value="{{ paciente.numero }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

                <div class="form-control left">
                    <input type="text" name="complemento" class="input" id="Complemento" placeholder="Complemento" value="{{ paciente.complemento }}">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
            </div>
            
            <div class="result">
                <p class="result-text">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger">
                                    <strong>Erro!</strong>
                                    {{ message }}
                                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                                </div>
                            {% else %}
                                <div class="alert alert-success">
                                    <strong>Sucesso!</strong>
                                    {{ message }}
                                    <i class="fa-solid fa-circle-check icon-success hidden" style="color: #328146;"></i>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
            <div class="button-box">
                <a href="{% url 'alterar_senha' %}" class="btn btn-purple center add">Alterar Senha</a>
            </div>
            <div class="button-box">
                <input type="submit" id="back" onclick="voltar()" class="btn-black-white" value="Voltar">
                <button type="submit" data-button class="btn-purple">Enviar</button>
            </div>
        </form>
    </section>  
{% endblock content %}
{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/formValidation.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}