{% extends 'background_paciente.html'%}
{% load static i18n %}
{% block head_title %}
    {% trans 'Paciente - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block header %}
    <header class="header bg-purple">
        <div class="container">
            <a href="{% url 'home' %}" class="login">
                <img class="escalar" src="{% static 'img/Logo Branco 1.png' %}">
            </a>
        </div>
    </header>
{% endblock header %}

{% block content %}  
<section class="dash">
    <h1 class="dash_title">Próximas consultas:</h1>
    <div class="list">
        {% if consultas %}
            {% for consulta in consultas %}
                <div class="info-consulta">
                    <p class="paciente"><b>Paciente:</b> {{ consulta.paciente.name }}</p>
                    <p class="medico"><b>Médico:</b> {{ consulta.medico.name }}</p>
                    <p class="especialidade"><b>Especialidade</b> {{ consulta.especialidade }}</p>
                    <p class="data"><b>Data:</b> {{ consulta.data|date:'d/m/Y' }}</p>
                    <p class="hora"><b>Hora:</b> {{ consulta.hora|time:"H:i" }}</p>
                    <p class="status"><b>Status:</b> {{ consulta.status_consulta }}</p>
                </div>
            {% endfor %}

        {% else %}
            <h3 class="aviso">Não há consultas marcadas.</h3> 
        {% endif %}
    </div>

</section>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}