{% extends 'background_paciente.html'%}
{% load static i18n %}
{% block head_title %}
    {% trans 'Pagamento - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block header %}
    <header class="header bg-purple">
        <div class="container">
            <a href="{% url 'home' %}" class="login">
                <img class="escalar" src="{% static 'img/Logo Branco 1.png' %}">
            </a>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <div class="dash bg-darkgray page">
        <h1 class="dash_title">Pagamento</h1>

        <div class="container-middle">
            <div class="cells">Descrição do Tratamento</div>
            <div class="cells">Valor</div>
        </div> 

        <div class="container-middle">
            <div class="cells">Total:</div>
            <div class="cells">R$</div>
        </div>

            <div>Forma de Pagamento</div>

        <div class="container-middle">
            <div class="btn-purple">Cartão</div>
            <div class="btn-purple">Convênio</div>
            <div class="btn-purple">Pagar no dia</div>
        </div>
    </div>

{% endblock content %}
