{% extends 'background_paciente.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Paciente - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block header %}
    <header class="header bg-purple">
        <div class="container">
            <a href="{% url 'home' %}" class="login">
                <img class="escalar" src="{% static 'img/Logo Branco 1.png' %}">
            </a>
        </div>
    </header>
{% endblock header %}

{% block content %}
<section class="dash page bg-darkgray">
    <h1 class="dash_title">Pagamento</h1>
    <table>
        <thead>
            <th class="cells">Tratamento</th>
            <th class="cells">Valor</th>
        </thead>
        <tbody>
            {% for tratamento in tratamentos %}
                <th class="cells">{{ tratamento.name }}</th>
                <th class="cells">{{ tratamento.preco }}</th>
            {% endfor %}
        </tbody>
    </table>
    <h3 class="total"><b>Total:</b> <p class="total_value">{{ total }}</p></h3>
    <form class="form func" action="{% url 'pagamento_paciente' %}" method="POST">
        {% csrf_token %}
        <label for="forma_pag">Forma de Pagamento</label>
        <select name="forma_pag" id="register" class="register">
            <option value="" disabled selected>Selecione a forma de pagamento:</option>
            <option value="cartao">Cartão</option>
            <option value="convenio">Convênio</option>
            <option value="boleto">Boleto</option>
            <option value="pix">Pix</option>
        </select>
        <div class="result">
            <p class="result-text">
                {% if messages and message_view == True %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger">
                                <strong>Erro!</strong>
                                {{ message }}
                                <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                            </div>
                        {% else %}
                            <div class="alert alert-success">
                                <strong>Sucesso!</strong>
                                {{ message }}
                                <i class="fa-solid fa-circle-check icon-success hidden" style="color: #328146;"></i>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </p>
        </div>
    </form>
    
</section>
{% endblock content %}

{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/select_register.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}