{% extends 'background_paciente.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Paciente - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block content %}  
    <section class="dash bg-darkgray">
        <h1 class="dash_title">Prontuário: {{ paciente.name }}</h1>
        
        {% if prontuario %}
            {% if list_documents %}
                {% for data, documents in list_documents %}
                    <div class="dropdown" onclick="toggleDropdown('{{ data }}')">
                        {{ data|date:'d/m/Y' }}
                    </div>
                    <div id="content-{{ data }}" class="dropdown-content">
                        {% for document in documents %}
                            {% if document in documentos %}
                                <a href="{% url 'doc_paciente' document.id %}"><h3>{{ document.tipo_documento }}: {{ document.nome_documento }}</h3></a>
                            {% elif document in encaminhamentos %}
                                <a href="{% url 'en_paciente' document.id %}"><h3>{{ document.tipo_encaminhamento }}: {{ document.area }}</h3></a>
                            {% elif document in bioimpedancia %}
                                <a href="{% url 'bio_paciente' document.id %}"><h3>Bioimpedância: {{ document.data|date:'d/m/Y' }}</h3></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <h3 class="aviso">Não há documentos atribuídos a esse paciente</h3>
            {% endif %}
        {% else %} 
            <a href="{% url 'init_prontuario_med' paciente.user.id %}" class="btn btn-purple center add btn-dash">Iniciar Prontuário</a>
            <h3 class="aviso">Este paciente não teve seu prontuário iniciado</h3>
        {% endif %}
    </section>  
{% endblock content %}
{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/button.js' %}"></script>
    <script src="{% static 'js/open_menu.js' %}"></script>
    <script src="{% static 'js/open_list.js' %}"></script>
{% endblock script %}