{% extends 'background.html' %}
{% load static i18n%}
{% block head_title %}
    {% trans "Cadastro - Clínica Salvino" %}
{% endblock head_title %}

{% block header%}
    <div class="container">
        <a href="../index.html"><img class="logo_branco escalar" src="{% static 'img/Logo Branco 1.png' %}"></a>
        <button id="Login" class="btn-white" onclick="redirect()">Fazer Login</button>
    </div>
{% endblock header %}
{% block content %}
    <main>
        <div class="body-container">
            <h1 class="title">CADASTRO</h1>
            <form class="form" id="form-cad" enctype="multipart/form-data" action="#" method="POST" role="form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-control">
                    <input type="text" id="Name" class="input" name="name" placeholder="Nome completo" required>
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

                <div class="container-middle">
                    <div class="form-control">
                        <input type="date" id="date" class="input" name="data_nascimento" required>
                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                        <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                        <small class="message"></small>
                    </div>
                    <div class="form-control">
                        <input type="text" maxlength="9" minlength="9" inputmode="numeric" id="RG" name="rg"
                            placeholder="RG" class="input" required>
                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                        <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                        <small class="message"></small>
                    </div>
                </div>

                <div class="container-middle">
                    <div class="form-control">
                        <input type="text" maxlength="11" minlength="11" inputmode="numeric" id="CPF" name="cpf"
                            placeholder="CPF" class="input" required>
                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                        <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                        <small class="message"></small>
                    </div>
                    <div class="form-control Dependente">
                        <div class="option-dependence">
                            <label for="independente">Independente</label>
                            <input type="radio" name="status_dependencia" value="Independente" class="checkbox left input"
                                id="independente">
                            <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                            <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                            <small class="message"></small>
                        </div>

                        <div class="option-dependence">
                            <label for="dependente">Dependente</label>
                            <input type="radio" name="status_dependencia" value="Dependente" class="checkbox left input"
                                id="dependente" required>
                            <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                            <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                            <small class="message"></small>
                        </div>
                    </div>
                </div>

                <div class="form-control">
                    <input type="text" id="responsavel" class="input" name="nome_responsavel"
                        placeholder="Nome Responsável">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

                <div class="container-middle">
                    <div class="form-control">
                        <input type="text" maxlength="9" minlength="9" inputmode="numeric" id="RGResponsavel"
                            name="rg_responsavel" placeholder="RG do Responsável" class="input">
                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                        <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                        <small class="message"></small>
                    </div>
                    <div class="form-control">
                        <input type="text" maxlength="11" minlength="11" inputmode="numeric" id="CPFResponsavel" class="input"
                            name="cpf_responsavel" placeholder="CPF do Responsável">
                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                        <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                        <small class="message"></small>
                    </div>
                </div>

                <div class="container-middle">
                    <div class="form-control">
                        <input type="tel" maxlength="14" minlength="11" class="input" id="phone" name="telefone"
                            placeholder="(ddd) 99999-9999" required>
                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                        <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                        <small class="message"></small>
                    </div>
                    <div class="form-control">
                        <input type="text" inputmode="numeric" id="CEP" class="input" name="cep" placeholder="CEP" required>
                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                        <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                        <small class="message"></small>
                    </div>


                </div>

                <div class="container-middle address">
                    <div class="form-control right">
                        <input type="text" id="Endereco" class="input" name="endereco" placeholder="Endereço" required>
                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                        <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                        <small class="message"></small>
                    </div>

                    <div class="form-control address  mid">
                        <input type="text" inputmode="numeric" class="input" id="Numero" name="numero" placeholder="N°" required>
                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                        <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                        <small class="message"></small>
                    </div>

                    <div class="form-control left">
                        <input type="text" name="complemento" class="input" id="Complemento" placeholder="Complemento">
                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                        <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                        <small class="message"></small>
                    </div>
                </div>

                <div class="container-middle">
                    <div class="form-control">
                        <input type="Email" id="email" name="email" class="input email" placeholder="E-mail" required>
                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                        <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                        <small class="message"></small>
                    </div>
                    <div class="form-control">
                        <input type="Confirmar Email" id="emailCheck" name="Confirmar E-mail"
                            placeholder="Confirmar E-mail" class="input emailConfirm" required>
                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                        <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                        <small class="message"></small>
                    </div>
                </div>

                <div class="container-middle">
                    <div class="form-control">
                        <input type="password" id="password" name="password" placeholder="Senha" class="input password" required>
                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                        <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                        <small class="message"></small>
                    </div>
                    <div class="form-control">
                        <input type="password" id="passwordCheck" name="confirmar Senha" placeholder="Confirmar Senha" class="input passwordConfirm" required>
                        <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                        <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                        <small class="message"></small>
                    </div>
                </div>
                <div class="captcha-box">
                    <input type="checkbox" name="Eu não sou um robô" value="Eu não sou um robô"><a class="robot">Não sou
                        robô</a>
                </div>
                <div class="button-box">
                    <input type="submit" id="back" onclick="voltar()" class="btn-black-white" value="Voltar">
                    <button type="submit" data-button class="btn-purple">Enviar</button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}
{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/formValidation.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
{% endblock script %}