<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Email</title>
    <link rel="stylesheet" href="../assets/css/forms.css">
    <link rel="stylesheet" href="../assets/css/formatados.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
    </style>
</head>

<body>
    <header class="header">
        <div class="container">
            <a href="../index.html"><img class="logo_branco escalar" src="../assets/img/Logo Branco 1.png"></a>
            <img class="menu-button" src="../assets/img/Menu.png">
        </div>
    </header>
    <main>
        <div class="container-change">
            <h1 class="title">Alterar E-mail</h1>
            <form id="form-changeEmail" class="form-changeEmail form" action="/action_page.php">
                <div class="form-control">
                    <input type="Email" id="email" name="E-mail" class="input" placeholder="E-mail">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

                <div class="form-control">
                    <input type="email" id="newEmail" name="E-mail" class="input email" placeholder="E-mail">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>
                <div class="form-control">
                    <input type="email" id="emailCheck" name="Confirmar E-mail"
                        placeholder="Confirmar E-mail" class="input emailConfirm">
                    <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                    <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                    <small class="message"></small>
                </div>

                <div class="captcha-box center">
                    <input type="checkbox" name="Eu não sou um robô" value="Eu não sou um robô"><a id="robot">Não sou
                        robô</a>
                </div>
                <div class="button-box">
                    <input type="submit" id="back" class="back animationBack right" value="Voltar">
                    <input type="submit" id="save" class="submit animationPayment" value="Salvar">
                </div>
            </form>
        </div>
    </main>
    <footer>
        <p id="Copyright">Copyright 2023 - Desenvolvido por DEV Nutri - Todos os direitos reservados.</p>
    </footer>
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="../assets/js/formValidation.js"></script>
    <script src="../assets/js/button.js"></script>
</body>

</html>