<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nossos Médicos - Clínica Dr. Salvino</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/formatados.css">
    <link rel="stylesheet" href="../assets/css/globais.css">
    <link rel="stylesheet" href="../assets/css/responsivo.css">
</head>

<body class="home_body saindo">
    <main class="bg-white">
        <nav class="navbar navbar-expand-sm bg-purple d-flex d-lg-none">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/images/logo-branco-responsivo.png" class="logo_branco">
                </a>
                <button class="navbar-toggler custom-toggler white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse nav-responsive" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link white bord-right escalar" href="../templates/register.html">Fazer
                            cadastro</a>
                        <a class="nav-link white bord login-button btn-white" href="../templates/login.html">Fazer
                            login</a>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="nav-home nav-bar d-none d-lg-flex animate">
            <div class="container-fluid">
                <div class="row justify-content-around nav">
                    <div class="col-lg-auto nav-brand d-flex align-items-center">
                        <a href="../index.html">
                            <div class="logo-home escalar">
                                <img src="../assets/images/logo-branco.png" class="logo_branco">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-auto d-flex align-items-start">
                        <a href="../templates/login.html" class="btn btn-white">
                            Agendamento de Consulta
                        </a>
                    </div>
                    <div class="col-lg-auto d-flex align-items-start justify-content-center">
                        <ul class="home_nav_ul">
                            <li class="escalar">
                                <a class="change-color" href="../templates/register.html">Cadastrar</a>
                            </li>
                            <li> | </li>
                            <li class="escalar login">
                                <a href="../templates/login.html" class="btn-white login">Fazer Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <header class="titulo-medicos">
            <h1>Nossos Profissionais</h1>
        </header>

        <section class="medicos">
            <div class="container">
                <div class="medico">
                    <div>
                        <div class="circulo"></div>
                        <img class="med-img" src="../assets/images/DrLeonor.png" alt="">
                    </div>

                    <div>
                        <h3>Leonor Salvino Afonso</h3>
                        <p>Imigrante portugues que veio ao Brasil em 1976 com o intuito de estudar em um país que
                            começava estar em ascensão ao mundo. formado em Medicina na Faculdade de Ciências
                            Farmacêuticas da Universade de São Paulo no ano de 1980, graduação em Nutrologia Médica na
                            mesma federação em 1982.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-onda-purple bg-white" id="contato">

        </section>
    </main>
    <footer class="bg-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center py-3">
                    <p class="fs-small text-center mb-0 black fw-bold">© Copyright 2023 - Desenvolvido por DEV Nutri
                        - Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<script src="../assets/js/animateHeader.js"></script>
<script src="../assets/js/script.js"></script>

</html>