<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Clínica Salvino</title>
    <link rel="stylesheet" href="../assets/css/account.css">
    <link rel="stylesheet" href="../assets/css/formatados.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
    </style>
</head>

<body class="home_body bg-black">
    <header class="header">
        <div class="container">
            <a href="../index.html" class="login">
                <img class="escalar" src="../assets/img/Logo Branco 1.png">
            </a>
        </div>
    </header>
    <main>
        <div class="container-login">
            <img class="logo_branco center-img" src="../assets/img/Logotipo Salvino.png">
            <div class="Login-Box">
                <h1 class="title">LOGIN</h1>
                <div class="inputs">
                    <form id="form-login" class="form" action="/action_page.php">
                        <div class="form-control">
                            <input type="Email" id="email" name="E-mail" placeholder="E-mail" class="input">
                            <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                            <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                            <small class="message"></small>
                        </div>
                        <div class="form-control">
                            <input type="password" id="password" name="Senha" placeholder="Senha" class="input">
                            <i class="fa -solid fa-circle-exclamation icon-error" style="color: #b00c0c;"></i>
                            <i class="fa-solid fa-circle-check icon-success" style="color: #328146;"></i>

                            <small class="message"></small>
                        </div>

                        <div class="options-box">
                            <div class="captcha-box">
                                <input type="checkbox" name="Eu não sou um robô" value="Eu não sou um robô"><a
                                    id="robot">Não sou robô</a>
                            </div>

                            <div class="options">
                                    <p class="text-options"><a href="../templates/forgot.html">Esqueci minha senha</a></p>
                                    <p class="text-options"><a href="../templates/register.html">Cadastrar</a></p>
                            </div>
                        </div>
                        <div class="button-box-login">
                            <button id="back" class="back animationBack" onclick="voltar()">Voltar</button>
                            <input type="submit" id="enter" class="submit animationPayment" value="Entrar">
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p id="Copyright">Copyright 2023 - Desenvolvido por DEV Nutri - Todos os direitos reservados.</p>
    </footer>
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="../assets/js/formValidation.js"></script>
    <script src="../assets/js/button.js"></script>
</body>


</html>