<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/nutricionista.css">
    <title>Nutricionista - Clínica Salvino</title>
</head>
<body class="body_user">
   
<!-- começo da dashboard do menu do usuario -->
    <nav  class="dash_menu_user">
        <div>
            <div class="button_home">
                <img src="../assets/images/buttons/button_home.png" alt="">
            </div>

            <div class="image_user">
                <img src="../assets/images/icon_usuario.png" alt="Icone do Usuário">
            </div>
            
            <div class="ul_dash_menu">
                <ul>
                    <li>
                        Bem vindo(a)
                    </li>

                    <li>
                        "Nome do Usuário"
                    </li>

                    <li>
                        Minha conta <img src="../assets/images/buttons/button_lapis.png" alt="Editar minha conta">
                    </li>

                    <li>
                        Dados do pagamento <img src="../assets/images/buttons/button_lapis.png" alt="Editar dados de pagamento">
                    </li>
                </ul>
            </div>

            <div class="ul_dash_menu" id="line_menu">
                <ul>
                        <li>
                            Dietas <img src="../assets/images/buttons/button_baixar.png" alt="Baixar dietas">
                        </li>

                        <li>
                            Receitas <img src="../assets/images/buttons/button_baixar.png" alt="Baixar receitas">
                        </li>

                        <li>
                            Encaminhamentos <img src="../assets/images/buttons/button_baixar.png" alt="Baixar encaminahmentos">
                        </li>
                </ul>      
            </div>

            <div  class="ul_dash_menu">
                <ul>
                        <li>
                            Agendar Consulta
                        </li>

                        <li>
                            Sair
                        </li>
                </ul>
            </div>
        </div>
    </nav>
<!-- fim da dashboard do menu do usuario -->

<!-- dashboard do calendario -->

    <header class="dash_calender">
        <!-- <div> -->

            <div class="month">
                <div>
                    <button> 2023 </button> 
                </div>

                <div>
                    
                </div>
                    <button> Janeiro </button>
                <div>
                    <button> Agendar Consulta </button>
                </div>
            </div>

            <div class="day_week">
                <div class="day_week_border"> Domingo </div>
                <div class="day_week_border"> Segunda </div>
                <div class="day_week_border"> Terça   </div>
                <div class="day_week_border"> Quarta  </div>
                <div class="day_week_border"> Quinta  </div>
                <div class="day_week_border"> Sexta   </div>
                <div class="day_week_border"> Sábado  </div>
            </div>

            <div class="date_grid">
                <button> <time datetime="2023-01-01"> 1 </time> </button>
                <button> <time datetime="2023-01-02"> 2 </time> </button>
                <button> <time datetime="2023-01-03"> 3 </time> </button>
                <button> <time datetime="2023-01-04"> 4 </time> </button>
                <button> <time datetime="2023-01-05"> 5 </time> </button>
                <button> <time datetime="2023-01-06"> 6 </time> </button>
                <button> <time datetime="2023-01-07"> 7 </time> </button>
                <button> <time datetime="2023-01-08"> 8 </time> </button>
                <button> <time datetime="2023-01-09"> 9 </time> </button>
                <button> <time datetime="2023-01-10"> 10 </time> </button>
                <button> <time datetime="2023-01-11"> 11 </time> </button>
                <button> <time datetime="2023-01-12"> 12 </time> </button>
                <button> <time datetime="2023-01-13"> 13 </time> </button>
                <button> <time datetime="2023-01-14"> 14 </time> </button>
                <button> <time datetime="2023-01-15"> 15 </time> </button>
                <button> <time datetime="2023-01-16"> 16 </time> </button>
                <button> <time datetime="2023-01-17"> 17 </time> </button>
                <button> <time datetime="2023-01-18"> 18 </time> </button>
                <button> <time datetime="2023-01-19"> 19 </time> </button>
                <button> <time datetime="2023-01-20"> 20 </time> </button>
                <button> <time datetime="2023-01-21"> 21 </time> </button>
                <button> <time datetime="2023-01-22"> 22 </time> </button>
                <button> <time datetime="2023-01-23"> 23 </time> </button>
                <button> <time datetime="2023-01-24"> 24 </time> </button>
                <button> <time datetime="2023-01-25"> 25 </time> </button>
                <button> <time datetime="2023-01-26"> 26 </time> </button>
                <button> <time datetime="2023-01-27"> 27 </time> </button>
                <button> <time datetime="2023-01-28"> 28 </time> </button>
                <button> <time datetime="2023-01-29"> 29 </time> </button>
                <button> <time datetime="2023-01-30"> 30 </time> </button>
                <button> <time datetime="2023-01-31"> 31 </time> </button>
              
            </div>

        <!-- </div> -->
    
    </header>

</body>
</html>