*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

header{
    background-color: #6F5BE3;
    height: 6.85997171145686%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 9.930555555555556%;
    padding-right: 12.30555555555556%;
    padding-top: 0.4861111111111111%;
    padding-bottom: 0.6944444444444444%;
}

#White-Logo {
    width: 5.763888888888889% ;
}

#Agendamento {
    height: 37.11%;
    width: 14.58%;
    border-radius: 30px;
    border: 2px solid #FFFFFF;
    background-color: #6F5BE3;
    color: #FFFFFF;
    font-size: 80%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1.38%;
    padding-right: 1.38%;
}

#menu-button{
    height: 40.25%;
    width: 3.19%;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #2BAE89;
    font-size: large;
    text-align: center;
    border: 1px;
    justify-content: center;
    align-content: center;
}

ul{
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    width: 40.66%;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 42.14%;
    width: 58.19444444444444%;
    border-radius: 15px;    
    background-color: #F2F2F2;
    box-shadow: 0px 6px 5px 0px #00000040;
    padding-top: 5.01%;
    padding-bottom: 5.01%;
    margin-top: 7.43%;
    margin-bottom: 7.43%;
}

#title {
    width: 43.03102625298329%;
    height: 10.821656050955414%;
    font-size: 150%;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color:  #333333;
    margin-bottom: 2.916666666666667%;
}

#email {
    height: 8.05%;
    width: 100%;
    border-radius: 0px;
    border: none;
    margin-top: 5.94%;
    padding-left: 4.41%;
    padding-bottom: 4%;
    padding-top: 4%;
}

#captcha-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    height: 8.06%;
    width: 100%;
    border-radius: 0px;
    border: none;
    background-color: #FFFFFF;
    padding-left: 4.41%;
    padding-top: 7.74%;
    padding-bottom: 7.74%;
    margin-top: 7.29%;
}

#robot{
    margin-left: 5.18% ;
    font-size: 80%;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

#button-box{
    width: 100%;
    height: 50.53%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 4.38%;
}

#save {
    border-radius: 15px;
    border: none;
    background-color: #6F5BE3;
    font-size: 70%;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    padding-top: 0.83%;
    padding-bottom: 0.83%;
    padding-left: 3.43%;
    padding-right: 3.43%;
}

#back{
    border-radius: 15px;
    border: 3px solid #000000;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 70%;
    padding-top: 0.83%;
    padding-bottom: 0.83%;
    padding-left: 3.43%;
    padding-right: 3.43%;
}

footer{
    width: 100%;
    height: 8.13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3.26%;
    padding-bottom: 3.56%;
}

#Copyright{
    font-size: 80%;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
}