{% extends 'background_medico.html' %}
{% load static i18n %}
{% block head_title %}
    {% trans 'Médico - Clínica Salvino' %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_head %}

{% block header %}
    <header class="header bg-blue">
        <div class="container">
            <a href="{% url 'home' %}" class="login">
                <img class="escalar" src="{% static 'img/Logo Branco 1.png' %}">
            </a>
        </div>
    </header>
{% endblock header %}

{% block content %}  
    <section class="dash bg-darkgray">
        <h1 class="dash_title">Pacientes</h1>
        <div class="list">
            <div class="cabecalho">
                <p>Nome</p>
                <p class="cpf">CPF</p>
                <p>Informações</p>
            </div>
            {% if pacientes %}
            {% for paciente in pacientes %}
            <div class="info-user">
                <p>{{ paciente.name }}</p>
                <p class="cpf">{{ paciente.cpf }}</p>
                <a href="" class="btn btn-purple center open-btn">Info</a>
                <div class="bg-dark menu">
                    <ul class="dash_nav_ul menu-options">
                        <li class="escalar">
                            <a href="{% url 'paciente' paciente.user.id %}" class="nav-link white bord-right escalar option">Prontuario</a>
                        </li>
                        <li class="escalar">
                            <a href="{% url 'paciente' paciente.user.id %}" class="nav-link white bord-right escalar option">Bio</a>
                        </li>
                        <li class="escalar">
                            <a href="{% url 'paciente' paciente.user.id %}" class="nav-link white bord-right escalar option">Dieta</a>
                        </li>
                        <li class="escalar">
                            <a href="{% url 'paciente' paciente.user.id %}" class="nav-link white bord-right escalar option">Encaminhameto</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h3 class="aviso">Você ainda não possui pacientes.</h3> 
        {% endif %}
        </div>
    </section>  
{% endblock content %}
{% block script %}
    <script src="https://kit.fontawesome.com/fc74a91a63.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/button.js' %}"></script>
    <script src="{% static 'js/open_menu.js' %}"></script>
{% endblock script %}